/***********************************************************************************
	CHECK IF MAP IS EMPTY
***********************************************************************************/

@function responslr-map-isnotempty($map) {
	@return length($map) > 0;
}


/***********************************************************************************
	GET DEFAULT VALUE FROM MAP
***********************************************************************************/

@function responslr-map-getdefault($map) {
	$map-default: null;

	@if responslr-map-isnotempty($map){
		@if map-has-key($map, default) {
			$map-default: default;
		} @else {
			$map-default: nth(map-keys($map), 1);
		}
	}

	@return $map-default;
}

@function responslr-map-required-error($param-name, $map-name, $item-key) {
	@return 'Parameter "#{$param-name}" for the #{$map-name} "#{$item-key}" is required.';
}


/***********************************************************************************
	SPLIT SHORTHAND (MARGIN OR PADDING)
***********************************************************************************/

@function responslr-split-shorthand($padding-string, $part) {
	$length: length(unquote($padding-string));
	$return-value: $padding-string;

	@if $length == 4 {
		@if $part == top {
			$return-value: nth($padding-string, 1);
		} @elseif $part == right {
			$return-value: nth($padding-string, 2);
		} @elseif $part == bottom {
			$return-value: nth($padding-string, 3);
		} @else {
			$return-value: nth($padding-string, 4);
		}
	} @elseif $length == 3 {
		@if $part == top {
			$return-value: nth($padding-string, 1);
		} @elseif $part == bottom {
			$return-value: nth($padding-string, 3);
		} @else {
			$return-value: nth($padding-string, 2);
		}
	} @elseif $length == 2 {
		@if $part == top {
			$return-value: nth($padding-string, 1);
		} @elseif $part == bottom {
			$return-value: nth($padding-string, 1);
		} @else {
			$return-value: nth($padding-string, 2);
		}
	}

	@return $return-value;
}

/***********************************************************************************
	CALCULATE / CONVERTER FUNCTIONS
***********************************************************************************/

@function responslr-rem($values) {
	$base-size: responslr-grid-base-size(nth(map-keys($responslr-grid-breakpoints), 1));
	$rem-return: ();

	@if type-of($base-size) == number {
		@each $current-value in $values {
			$rem-return: append($rem-return, #{$current-value / $base-size}rem);
		}
	} @else {
		$rem-return: 1rem;
	}

	@return $rem-return;
}


/***********************************************************************************
	CREATE JSON STRING
***********************************************************************************/

@function json-value-quote($value) {
	@return '"' + $value + '"';
}

@function json-encode-string($string) {
	@return json-value-quote($string);
}

@function json-encode-number($number) {
	@if unitless($number) == false {
		$number: json-value-quote($number);
	}

	@return $number;
}

@function json-encode-null($null) {
	@return "null";
}

@function json-encode-bool($boolean) {
	@return $boolean;
}

@function json-encode-color($color) {
	@return json-value-quote($color);
}

@function json-encode-list($list) {
	$string: "";

	@each $list-item in $list {
		$string: $string + "," + json-encode($list-item);
	}

	@return "[" + str-slice($string, 2) + "]";
}

@function json-encode-map($map) {
	$string: "";

	@each $map-key, $map-value in $map {
		$string: $string + "," + json-value-quote($map-key) + ":" + json-encode($map-value);
	}

	@return "{" + str-slice($string, 2) + "}";
}

@function json-encode($value) {
	$value-type: type-of($value);

	@if function_exists("json-encode-#{$value-type}") {
		@return call("json-encode-#{$value-type}", $value);
	}

	@return false;
}