/***********************************************************************************
	SETTINGS - GLOBAL
***********************************************************************************/

// Generators
$responslr-generate-classes: true !default;
$responslr-generate-settings: true !default;

// JSON settings
$global-settings: ();

/***********************************************************************************
	SETTINGS - MODULES
***********************************************************************************/

// Reset
@import "reset/settings";

// Typo
@import "typo/settings";

// Grid
@import "grid/settings";

// Color
@import "color/settings";

// Hider
@import "visibility/settings";

// Transition
@import "transition/settings";

// Alignment
@import "alignment/settings";

// Spacing
@import "spacing/settings";

// Aspect Ratio
@import "aspect-ratio/settings";

// Sprite
@import "sprite/settings";

// Icon
@import "icon/settings";

// Circle
@import "circle/settings";

// Triangle
@import "triangle/settings";

// Arrow
@import "arrow/settings";

// Button
@import "button/settings";

// Tooltip
@import "tooltip/settings";

// List
@import "list/settings";

// Form
@import "form/settings";

// Table
@import "table/settings";