$settings: (
	lato-light: (
		is-custom: true,
		filename: lato-light,
		font-weight: 300,
		font-style: normal
	),
	lato-regular: (
		is-custom: true,
		filename: lato-regular,
		font-weight: 400,
		font-style: normal
	)
);

@each $item, $setting in $settings {
	@debug 'item: ' + $item;
	@each $key, $value in $setting {
		@debug 'key: ' + $key;
		@debug 'value: ' + $value;
	}
}

$item: lato-light;
$key: font-weight;
@debug 'item: ' + $item + ' key: ' + $key + ' value: ' + map-get(map-get($settings, $item), $key);


$item: lato-light;
$key: font-weight;
$value: 600;

$settings: map-merge($settings, (
	$item: map-merge(map-get($settings, $item), (
			$key: $value
	))
));
@debug 'item: ' + $item + ' key: ' + $key + ' value: ' + map-get(map-get($settings, $item), $key);
