/***********************************************************************************
	GLOBALS
***********************************************************************************/
// MIXINS
@mixin write-pseudo-element($write: true, $pseudo-element: before) {
	@if $write {
		&:#{$pseudo-element} {
			@content;
		}
	} @else {
		@content;
	}
}

// FUNCTIONS
@function responslr-get-row($list, $index) {
	@if(length(nth($list,1)) == 1) {
		@if($index > 1) {
			@return null;
		} @else {
			@return $list;
		}
	} @else {
		@if(length($list) >= $index) {
			@return nth($list,$index);
		} @else {
			@return null;
		}
	}
}


// MODULES
// Reset
$enable-module-reset: true !default;


// Typo
$enable-module-typo: true !default;


// Grid
$enable-module-grid: true !default;
$enable-module-grid-helper: true !default;


// Visiblity
$enable-module-visiblity: true !default;
$enable-module-shower: $enable-module-visiblity !default;
$enable-module-hider: $enable-module-visiblity !default;


// Transition
$enable-module-transition: true !default;


// Alignment
$enable-module-alignment: true !default;


// Position
$enable-module-position: true !default;


// Spacing
$enable-module-spacing: true !default;


// Aspect Ratio
$enable-module-aspect-ratio: true !default;


// Sprite
$enable-module-sprite: false !default;


// Color
$enable-module-color: true !default;

$enable-module-color-bg: $enable-module-color !default;
$enable-module-color-bg-hover: $enable-module-color-bg !default;
$enable-module-color-bg-focus: false !default;

$enable-module-color-text: $enable-module-color !default;
$enable-module-color-text-hover: $enable-module-color-text !default;
$enable-module-color-text-focus: false !default;

$enable-module-color-border: $enable-module-color !default;
$enable-module-color-border-hover: $enable-module-color-border !default;
$enable-module-color-border-focus: false !default;

$enable-module-color-border-directions: false !default;
$enable-module-color-border-directions-hover: $enable-module-color-border-directions !default;
$enable-module-color-border-directions-focus: false !default;


// UI
// Shape
$enable-ui-shape: true !default;
$enable-ui-shape-square: $enable-ui-shape !default;
$enable-ui-shape-circle: $enable-ui-shape !default;
$enable-ui-shape-triangle: $enable-ui-shape !default;
$enable-ui-shape-arrow: $enable-ui-shape !default;


// Tooltip
$enable-ui-tooltip: true !default;

// Button
$enable-ui-button: true !default;


// Form
$enable-ui-form: true !default;


// Table
$enable-ui-table: true !default;