/***********************************************************************************
	SETTINGS - TRANSITION
***********************************************************************************/

$responslr-transitions: () !default;

// Default transition
$responslr-transitions-default: responslr-map-getdefault($responslr-transitions) !default;

// Map value defaults
$responslr-transitions-default-property: all !default;
$responslr-transitions-default-duration: .25s !default;
$responslr-transitions-default-timing-function: ease !default;
$responslr-transitions-default-delay: 0 !default;
$responslr-transitions-default-hardware-acceleration: false !default;

// Classes
$responslr-transition-class-prefix: 'transition-' !default;

// Generate css output
$responslr-generate-transitions: $responslr-generate-classes !default;