/***********************************************************************************
	COLORS
***********************************************************************************/
$white: rgb(255,255,255) !default;
$black: rgb(26,32,37) !default;
$grey: rgb(213,215,217) !default;
$grey-light: rgb(234,235,235) !default;
$grey-dark: rgb(45,55,63) !default;
$green: rgb(39,174,96) !default;
$blue: rgb(36,156,213) !default;
$purple: rgb(142,68,173) !default;
$red: rgb(192,57,43) !default;
$orange: rgb(242,98,50) !default;

$colors:
	'white'				$white,
	'black'				$black,
	'grey'				$grey,
	'grey-light'		$grey-light,
	'grey-dark'			$grey-dark,
	'green'				$green,
	'blue'				$blue,
	'purple'			$purple,
	'red'				$red,
	'orange'			$orange
!default;