/***********************************************************************************
	GRID - SETTINGS
***********************************************************************************/
$container-max-width: 1140px !default;
$container-align: center !default;
$container-horizontal-margin: 0 !default;

//	name				max-width	columns		gutter
$grid-breakpoints:
	('large'			1024px		12			16px),
	('medium'			960px		6			12px),
	('small'			640px		4			10px)
!default;

$grid-breakpoint-default: nth(nth($grid-breakpoints,1),1);




// Breakpoints
/* $large: 'large' !default;
$medium: 'medium' !default;
$small: 'small' !default;

$breakpoint-class-prefix-large: $large !default;
$breakpoint-class-prefix-medium: $medium !default;
$breakpoint-class-prefix-small: $small !default; */

// Maximum Widths
/*
$max-width: 4096px !default;
$max-width-large: 1024px !default;
$max-width-medium: 960px !default;
$max-width-small: 640px !default;
 */
// Minimum Widths
/* $min-width-large: $max-width-medium + 1 !default;
$min-width-medium: $max-width-small + 1 !default;
$min-width-small: $max-width-small / 2 !default;
 */
// Grid Columns
/* $grid-columns-large: 12 !default;
$grid-columns-medium: 8 !default;
$grid-columns-small: 4 !default;

$grid-column-width-large: 100% / $grid-columns-large !default;
$grid-column-width-medium: 100% / $grid-columns-medium !default;
$grid-column-width-small: 100% / $grid-columns-small !default;
 */
// Grid Gutter
/* $grid-gutter: 16px !default;
$grid-gutter-half: $grid-gutter / 2 !default;
$grid-gutter-double: $grid-gutter * 2 !default; */