/***********************************************************************************
	GRID - SETTINGS
***********************************************************************************/
$container-max-width: 1140px !default;
$container-align: center !default;
$container-horizontal-margin: 0 !default;

//	name				max-width	columns		gutter			sdfsfd
$grid-breakpoints:
	('large'			1024px		12			16px),
	('medium'			960px		6			12px),
	('small'			640px		4			10px)
!default;

$grid-breakpoint-default: nth(nth($grid-breakpoints,1),1);