/***********************************************************************************
	SPRITE - SETTINGS
***********************************************************************************/
$default-sprite-map: sprite-map(
	"sprite/*.png",

	$spacing: 50px

	/* $sprite-icon-facebook-position: 50% */
) !default;

$default-sprite-map-retina: sprite-map(
	"retina-sprite/*.png",

	$spacing: 50px

	/* $retina-sprite-icon-facebook-position: 50%,  */
) !default;