/***********************************************************************************
	OUTPUT - TYPO
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS (FAMILIES)
***********************************************************************************/

@function rr-typo-family-exists($name) {
	@return map-has-key($rr-typo-families, $name);
}

@function rr-typo-family($name: null) {
	$return-typo-family: ();

	@if $name == null {
		$name: $rr-typo-families-default;
	}

	@if rr-typo-family-exists($name) {
		$return-typo-family: map-get($rr-typo-families, $name);
	}

	@return $return-typo-family;
}


/***********************************************************************************
	MAP VALUE FUNCTIONS (FAMILIES)
***********************************************************************************/

@function rr-typo-family-name($name: null) {
	$return-name: map-get(rr-typo-family($name), name);

	@if $return-name == null {
		@warn rr-map-required-error("name", "typo-family", $name);
	}

	@return $return-name;
}

@function rr-typo-family-file($name: null) {
	$return-file: map-get(rr-typo-family($name), file);

	@if $return-file == null {
		$return-file: $rr-typo-families-default-file;
	}

	@return $return-file;
}

@function rr-typo-family-import($name: null) {
	$return-import: map-get(rr-typo-family($name), import);

	@if $return-import == null {
		$return-import: $rr-typo-families-default-import;
	}

	@return $return-import;
}

@function rr-typo-family-font-weight($name: null) {
	$return-font-weight: map-get(rr-typo-family($name), font-weight);

	@if $return-font-weight == null {
		$return-font-weight: $rr-typo-families-default-font-weight;
	}

	@return $return-font-weight;
}

@function rr-typo-family-font-style($name: null) {
	$return-font-style: map-get(rr-typo-family($name), font-style);

	@if $return-font-style == null {
		$return-font-style: $rr-typo-families-default-font-style;
	}

	@return $return-font-style;
}


/***********************************************************************************
	DEFAULT MAP FUNCTIONS (SIZES)
***********************************************************************************/

@function rr-typo-size-exists($name) {
	@return map-has-key($rr-typo-sizes, $name);
}

@function rr-typo-size($name: null) {
	$return-typo-size: ();

	@if $name == null {
		$name: $rr-typo-sizes-default;
	}

	@if rr-typo-size-exists($name) {
		$return-typo-size: map-get($rr-typo-sizes, $name);
	}

	@return $return-typo-size;
}


/***********************************************************************************
	MAP VALUE FUNCTIONS (SIZES)
***********************************************************************************/

@function rr-typo-size-value($name: null) {
	$return-value: map-get(rr-typo-size($name), value);

	@if $return-value == null {
		@warn rr-map-required-error("value", "typo-size", $name);
	}

	@return $return-value;
}

@function rr-typo-size-line-height($name: null) {
	$return-line-height: map-get(rr-typo-size($name), line-height);

	@if $return-line-height == null {
		$return-line-height: $rr-typo-sizes-default-line-height;
	}

	@return $return-line-height;
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

@mixin rr-typo-fix() {
	font-smooth: always;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin rr-typo-family($name: null, $font-family: null, $font-weight: null, $font-style: null) {
	$font-family: rr-typo-family-name($name) !default;
	$font-weight: rr-typo-family-font-weight($name) !default;
	$font-style: rr-typo-family-font-style($name) !default;

	font-family: $font-family;
	font-weight: $font-weight;
	font-style: $font-style;
}

@mixin rr-typo-size($name: null, $font-size: null, $line-height: null) {
	$font-size: rr-typo-size-value($name) !default;
	$line-height: rr-typo-size-line-height($name) !default;

	font-size: $font-size;
	line-height: $line-height;

	// Breakpoint overwrites
	@if $name != null {
		$typo-size-overwrites: rr-map-breakpoint-overwrites(typo-size, $name);

		@each $breakpoint-key, $overwrite-list in $typo-size-overwrites {
			@include rr-media-query($breakpoint-key) {
				@if map-has-key($overwrite-list, 'value') {
					font-size: map-get($overwrite-list, 'value');
				}

				@if map-has-key($overwrite-list, 'line-height') {
					line-height: map-get($overwrite-list, 'line-height');
				}
			}
		}
	}
}

@mixin rr-typo($font-family: null, $font-weight: null, $font-style: null, $font-size: null, $line-height: null) {
	// Font fix
	@include rr-typo-fix();

	// Font-family
	@if rr-typo-family-exists($font-family) {
		@include rr-typo-family($name: $font-family, $font-weight: $font-weight, $font-style: $font-style);
	} @else {
		@include rr-typo-family($font-family: $font-family, $font-weight: $font-weight, $font-style: $font-style);
	}

	// Font-size
	@if rr-typo-size-exists($font-size) {
		@include rr-typo-size($name: $font-size, $line-height: $line-height);
	} @else {
		@include rr-typo-size($font-size: $font-size, $line-height: $line-height);
	}
}

@mixin rr-typo-reset($font-size: null) {
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;

	& > * {
		letter-spacing: normal;
		@include rr-typo-size($font-size);
	}
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@function rr-generate-typo-check() {
	@return $rr-generate-typo;
}

// Font reset
.#{$rr-typo-reset-class},
.#{$rr-grid-row-class} {
	@include rr-typo-reset();
}

@mixin rr-generate-typo() {
	@if $rr-generate-typo-faces and rr-map-isnotempty($rr-typo-families) {
		@each $font-family-key, $font-family-list in $rr-typo-families {
			// Generate font-faces
			@if rr-typo-family-file($font-family-key) {
				@font-face {
					font-family: rr-typo-family-name($font-family-key);
					src: url('#{rr-typo-family-file($font-family-key)}.eot?#iefix') format('embedded-opentype'),
						 url('#{rr-typo-family-file($font-family-key)}.woff2') format('woff2'),
						 url('#{rr-typo-family-file($font-family-key)}.woff') format('woff'),
						 url('#{rr-typo-family-file($font-family-key)}.ttf') format('truetype'),
						 url('#{rr-typo-family-file($font-family-key)}.svg##{rr-typo-family-name($font-family-key)}') format('svg');
				}
			}

			// Generate imports
			@if rr-typo-family-import($font-family-key) {
				@import url(rr-typo-family-import($font-family-key));
			}
		}
	}

	// Font-families
	@if $rr-generate-typo-families and rr-map-isnotempty($rr-typo-families) {
		@each $font-family-key, $font-family-list in $rr-typo-families {
			.#{$rr-typo-family-class-prefix}#{$font-family-key} {
				@include rr-typo-family($name: $font-family-key);
			}
		}
	}

	// Font-sizes
	@if $rr-generate-typo-sizes and rr-map-isnotempty($rr-typo-sizes) {
		@each $font-size-key, $font-size-list in $rr-typo-sizes {
			.#{$rr-typo-size-class-prefix}#{$font-size-key} {
				@include rr-typo-size($name: $font-size-key);
			}
		}
	}

	// Disable user-select
	.#{$rr-typo-no-select-class} {
		@include user-select(none);
	}
}

@if rr-generate-typo-check() {
	@include rr-generate-typo();
}
