/***********************************************************************************
	SETTINGS - TYPO
***********************************************************************************/

// Default line-height
$rr-typo-line-height-default: 1.4 !default;

// Font families
$rr-typo-families: (
	'arial': (
		name: 'Arial'
	)
) !default;


// Font-families default
$rr-typo-families-default: rr-map-getdefault($rr-typo-families) !default;

// Font-families map value defaults
$rr-typo-families-default-file: null !default;
$rr-typo-families-default-import: null !default;
$rr-typo-families-default-font-weight: null !default;
$rr-typo-families-default-font-style: null !default;

// Font-families classes
$rr-typo-family-class-prefix: 'font-family-' !default;


// Font sizes
$rr-typo-sizes: (
	'small': (
		value: 12px
	),
	'medium': (
		value: 24px
	),
	'large': (
		value: 48px
	)
) !default;

// Font-sizes default
$rr-typo-sizes-default: rr-map-getdefault($rr-typo-sizes) !default;

// Font-sizes map value defaults
$rr-typo-sizes-default-line-height: $rr-typo-line-height-default !default;

// Font-sizes classes
$rr-typo-size-class-prefix: 'font-size-' !default;

// Other classes
$rr-typo-no-select-class: 'no-select' !default;
$rr-typo-reset-class: 'font-reset' !default;

// Generate css output
$rr-generate-typo: $rr-generate-classes !default;
$rr-generate-typo-faces: $rr-generate-typo !default;
$rr-generate-typo-families: $rr-generate-typo !default;
$rr-generate-typo-sizes: $rr-generate-typo !default;