/***********************************************************************************
	SHAPE - SETTINGS
***********************************************************************************/


/***********************************************************************************
	BUBBLES
***********************************************************************************/


/***********************************************************************************
	ARROWS
***********************************************************************************/
$arrow-size: 18px !default;
$arrow-width: 4px !default;
$arrow-transition: 2px !default;
$arrow-bubble-size: 50px !default;
$color-arrow: $white !default;


/***********************************************************************************
	TRIANGLES
***********************************************************************************/