/***********************************************************************************
	SHAPE - SETTINGS
***********************************************************************************/


/***********************************************************************************
	CIRCLE
***********************************************************************************/
//	name [unique]	width		height
$shape-circles:
	default			50px		50px,
	small			30px		30px,
	large			100px		100px,
	oval			100px		80px
!default;


/***********************************************************************************
	TRIANGLE
***********************************************************************************/
//	name [unique]	width		height
$shape-triangles:
	default			10px		10px
!default;


/***********************************************************************************
	ARROW
***********************************************************************************/
// 1 name [unique]		2 direction		3 size	4 width	5 color		6 position	7 pos-x		8 pos-y		9 offset-x	10 offset-y		11 transitions		12 t-values		13 pseudo-element
//																																	responslr-trans
$shape-arrows:
	default				right			12px	3px		$black		relative	center		center		0			0				border-color		$white			before,
	right-small			right			8px		2px		$black		relative	right		center		10px		0				none				''				before,
	right-default		right			12px	3px		$black		relative	right		center		10px		0				none				''				before,
	right-medium		right			20px	4px		$white		relative	right		center		10px		0				none				''				before,
	right-large			right			30px	6px		$black		relative	right		center		10px		0				none				''				before
!default;

$responslr-arrow-settings: nth($shape-arrows, 1);
$responslr-arrow-name: nth($responslr-arrow-settings, 1) !default;;
$responslr-arrow-direction: nth($responslr-arrow-settings, 2) !default;
$responslr-arrow-size: nth($responslr-arrow-settings, 3) !default;
$responslr-arrow-width: nth($responslr-arrow-settings, 4) !default;
$responslr-arrow-color: nth($responslr-arrow-settings, 5) !default;
$responslr-arrow-position: nth($responslr-arrow-settings, 6) !default;
$responslr-arrow-position-x: nth($responslr-arrow-settings, 7) !default;
$responslr-arrow-position-y: nth($responslr-arrow-settings, 8) !default;
$responslr-arrow-offset-x: nth($responslr-arrow-settings, 9) !default;
$responslr-arrow-offset-y: nth($responslr-arrow-settings, 10) !default;
$responslr-arrow-transition-properties: nth($responslr-arrow-settings, 11) !default;
$responslr-arrow-transition-values: nth($responslr-arrow-settings, 12) !default;
$responslr-arrow-pseudo-element: nth($responslr-arrow-settings, 13) !default;
$responslr-arrow-write-pseudo-element: true;