/***********************************************************************************
	PRESETS
***********************************************************************************/
html, body {
	margin: 0;
	padding: 0;
	background-color: $black;
	color: $white;
	font-family: $font-regular;
	font-size: $font-size-default;
	line-height: $line-height-default;
}

body * {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body *,
*:before,
*:after {
	@include box-sizing(border-box);
}

h1, h2, h3, h4, h5, h6, strong {
	font-family: $font-regular;
	font-weight: normal;
	color: $white;
	text-transform: uppercase;

	span {
		font-family: $font-regular;
	}
}

h1 {
	display: block;
	font-family: 'AlteHaasGrotesk';
}

h2,
h3,
h4 {
	margin-bottom: $spacing-small;
	font-size: $font-size-default;
	line-height: $line-height-default;
	text-align: center;
}

a {
	color: $white;

	&:active {
		background-color: transparent;
	}
}

a {
	font-size: $font-size-default;
	line-height: $line-height-default;
	outline: none;
	text-decoration: none;
	cursor: pointer;

	@include transition-default(background-color, color);

	@include media-query($breakpoint-class-prefix-medium) {
		@include transition(none);
	}
}

p,
table,
label {
	font-size: $font-size-default;
	line-height: $line-height-default;
	text-align: center;
}

ol,
ul {
	font-size: $font-size-default;
	line-height: $line-height-default;
	list-style: none;
	margin: 0 0 $spacing-small 0;

	li {

	}
}

img {
	display: block;
	width: 100%;
}

a img {
	border: 0;
}

nav {
	ul {
		margin: 0;

		li {
			a {
				display: block;
				text-transform: uppercase;
			}
		}
	}
}

header,
footer {
	@extend .no-select;
}

/***********************************************************************************
	EXTENDS
***********************************************************************************/
.container {
	position: relative;
	margin: 0 auto;
	max-width: $grid-max-width;

	@include media-query($grid-max-width) {
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
}

.container-full {
	position: relative;
}

.bg-transition {
	@include transition-default(background-color);

	@include media-query($breakpoint-class-prefix-medium) {
		@include transition(none);
	}
}