
/***********************************************************************************
	BUBBLES
***********************************************************************************/
.bubble {
	position: relative;

	.equal-height {
		margin-top: 100%;
	}

	.bubble-content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;

		@include border-radius(50%);
	}
}

.bubble.column {
	.bubble-content {
		left: $gridGutter;
		right: $gridGutter;
	}
}

.bubble.visual {
	@include border-radius(50%);
	overflow: hidden;
}