
/***********************************************************************************
	BUTTONS
***********************************************************************************/
.button,
a.button,
.row .button {
	display: inline-block;
	padding: 0 $button-padding-x;
	height: $button-height;
	@include typo();

	@include border-radius($button-border-radius);
	@include transition-default(background-color);

	@if($button-border-width != 0) {
		border-width: $button-border-width;
		border-style: $button-border-style;
		@include transition-default(background-color,border-color);
	}
}