/***********************************************************************************
	SETTINGS - TYPO
***********************************************************************************/

//  font name (unique)		is custom 	name on file system			font-weight porperty		font-style property
//																	400 = regular, 700 = bold
$responslr-typo-families:
	lato-light				true		lato-light					300							normal,
	lato-regular			true		lato-regular				400							normal
!default;

// Default font-family
$responslr-typo-families-default: nth(nth($responslr-typo-families,1),1) !default;


//	font-size name		font-size	line-height
$responslr-typo-sizes:
	default				24px,
	tiny				14px,
	small				18px,
	medium				30px,
	large				48px,
	xlarge				62px		80px
!default;

// Default font-size
$responslr-typo-sizes-default: nth(nth($responslr-typo-sizes,1),1) !default;


// Default line-height
$responslr-typo-line-height-default: 1.4 !default;