/***********************************************************************************
	OUTPUT - VISIBILITY
***********************************************************************************/


/***********************************************************************************
	MIXINS
***********************************************************************************/
@mixin responslr-hide() {
	display: none;
}

@mixin responslr-show($display-value: inherit) {
	display: $display-value;
}

/*@mixin responslr-visibility() {

}*/


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@mixin responslr-generate-hiders() {
	@each $current-breakpoint-list in $responslr-grid-breakpoints {
		$current-breakpoint-name: nth($current-breakpoint-list,1);

		@include responslr-media-query($media-end: $current-breakpoint-name, $media-start: $current-breakpoint-name) {
			.hide-#{$current-breakpoint-name} {
				@include responslr-hide();
			}
		}

		@include responslr-media-query($media-start: $current-breakpoint-name) {
			.hide-#{$current-breakpoint-name}-up {
				@include responslr-hide();
			}
		}

		@include responslr-media-query($media-end: $current-breakpoint-name) {
			.hide-#{$current-breakpoint-name}-down {
				@include responslr-hide();
			}
		}
	}
}

@mixin responslr-generate-showers() {
	.hide-all {
		@include responslr-hide();
	}

	@each $current-breakpoint-list in $responslr-grid-breakpoints {
		$current-breakpoint-name: nth($current-breakpoint-list,1);

		.show-#{$current-breakpoint-name},
		.show-#{$current-breakpoint-name}-up,
		.show-#{$current-breakpoint-name}-down {
			@extend .hide-all;
		}

		@include responslr-media-query($media-end: $current-breakpoint-name, $media-start: $current-breakpoint-name) {
			.show-#{$current-breakpoint-name} {
				@include responslr-show(block);

				&.column {
					@include responslr-show(inline-block);
				}
			}

			span.show-#{$current-breakpoint-name} {
				@include responslr-show(inline);
			}
		}

		@include responslr-media-query($media-start: $current-breakpoint-name) {
			.show-#{$current-breakpoint-name}-up {
				@include responslr-show(block);

				&.column {
					@include responslr-show(inline-block);
				}
			}

			span.show-#{$current-breakpoint-name}-up {
				@include responslr-show(inline);
			}
		}

		@include responslr-media-query($media-end: $current-breakpoint-name) {
			.show-#{$current-breakpoint-name}-down {
				@include responslr-show();

				&.column {
					@include responslr-show(inline-block);
				}
			}

			span.show-#{$current-breakpoint-name}-down {
				@include responslr-show(inline);
			}
		}
	}
}

@if $responslr-generate-visiblities {
	@if $responslr-generate-visiblities-hiders {
		@include responslr-generate-hiders();
	}

	@if $responslr-generate-visiblities-showers {
		@include responslr-generate-showers();
	}
}
