/***********************************************************************************
	SETTINGS - TABLE
***********************************************************************************/

$rr-tables: () !default;

// Default form
$rr-tables-default: rr-map-getdefault($rr-tables) !default;

// Generate css output
$rr-generate-tables: $rr-generate-classes !default;