/***********************************************************************************
	SETTINGS - TOOLTIP
***********************************************************************************/

$rr-tooltip-directions: north,south,east,west !default;

// Tooltips
$rr-tooltips: () !default;

// Default tooltip
$rr-tooltips-default: rr-map-getdefault($rr-tooltips) !default;

// Map value defaults
$rr-tooltips-default-cursor: help !default;
$rr-tooltips-default-offset: 0.75rem !default;
$rr-tooltips-default-padding: 10px !default;
$rr-tooltips-default-max-width: 100% !default;
$rr-tooltips-default-font-size: $rr-typo-sizes-default !default;
$rr-tooltips-default-font-color: white !default;
$rr-tooltips-default-bg-color: black !default;
$rr-tooltips-default-border-color: black !default;
$rr-tooltips-default-border-width: 0 !default;
$rr-tooltips-default-border-style: none !default;
$rr-tooltips-default-border-radius: 0 !default;
$rr-tooltips-default-triangle: true !default;
$rr-tooltips-default-triangle-is-offset: true !default;
$rr-tooltips-default-generate: true !default;
$rr-tooltips-default-directions: $rr-tooltip-directions !default;

// Classes
$rr-tooltip-content-class: 'tooltip-content' !default;
$rr-tooltip-north-class: 'north' !default;
$rr-tooltip-east-class: 'east' !default;
$rr-tooltip-south-class: 'south' !default;
$rr-tooltip-west-class: 'west' !default;

// Generate css output
$rr-generate-tooltips: $rr-generate-classes !default;