/***********************************************************************************
	SETTINGS - TOOLTIP
***********************************************************************************/

$responslr-tooltip-directions: north,south,east,west !default;

// Tooltips
$responslr-tooltips: () !default;

// Default tooltip
$responslr-tooltips-default: responslr-map-getdefault($responslr-tooltips) !default;

// Map value defaults
$responslr-tooltips-default-cursor: help !default;
$responslr-tooltips-default-offset: 0.75rem !default;
$responslr-tooltips-default-padding: 10px !default;
$responslr-tooltips-default-max-width: 100% !default;
$responslr-tooltips-default-font-size: $responslr-typo-sizes-default !default;
$responslr-tooltips-default-font-color: white !default;
$responslr-tooltips-default-bg-color: black !default;
$responslr-tooltips-default-border-color: black !default;
$responslr-tooltips-default-border-width: 0 !default;
$responslr-tooltips-default-border-style: none !default;
$responslr-tooltips-default-border-radius: 0 !default;
$responslr-tooltips-default-triangle: true !default;
$responslr-tooltips-default-triangle-is-offset: true !default;
$responslr-tooltips-default-generate: true !default;
$responslr-tooltips-default-directions: $responslr-tooltip-directions !default;

// Classes
$responslr-tooltip-content-class: 'tooltip-content' !default;
$responslr-tooltip-north-class: 'north' !default;
$responslr-tooltip-east-class: 'east' !default;
$responslr-tooltip-south-class: 'south' !default;
$responslr-tooltip-west-class: 'west' !default;

// Generate css output
$responslr-generate-tooltips: $responslr-generate-classes !default;