/***********************************************************************************
	SETTINGS - ICON
***********************************************************************************/

$responslr-icons: () !default;

// Default icon
$responslr-icons-default: responslr-map-getdefault($responslr-icons) !default;

// Map value defaults
$responslr-icons-default-size: auto !default;
$responslr-icons-default-offset-x: 50% !default;
$responslr-icons-default-offset-y: 50% !default;
$responslr-icons-default-color: null !default;
$responslr-icons-default-repeat: no-repeat !default;

// Classes
$responslr-icon-class-prefix: 'icon-' !default;