/***********************************************************************************
	MODULE: ALIGNMENTS
***********************************************************************************/


/***********************************************************************************
	MIXIN: ALIGNMENT
***********************************************************************************/
@mixin alignment() {
	// TODO: @mixin alignment()
}


/***********************************************************************************
	CLASS GENERATOR: ALIGNMENT
***********************************************************************************/
@mixin generate-alignment() {
	// Default Alignments
	.h-left {
		text-align: left;
	}

	.h-center {
		text-align: center;
	}

	.h-right {
		text-align: right;
	}

	.v-top {
		vertical-align: top;
	}

	.v-center {
		vertical-align: middle;
	}

	.v-bottom {
		vertical-align: bottom;
	}

	// Alignment on Small
	@include media-query($breakpoint-class-prefix-small) {
		.h-left-#{$breakpoint-class-prefix-small} {
			text-align: left;
		}

		.h-center-#{$breakpoint-class-prefix-small} {
			text-align: center;
		}

		.h-right-#{$breakpoint-class-prefix-small} {
			text-align: right;
		}

		.v-top-#{$breakpoint-class-prefix-small} {
			vertical-align: top;
		}

		.v-center-#{$breakpoint-class-prefix-small} {
			vertical-align: middle;
		}

		.v-bottom-#{$breakpoint-class-prefix-small} {
			vertical-align: bottom;
		}
	}

	// Alignment on Medium
	@include media-query($breakpoint-class-prefix-medium, $breakpoint-class-prefix-medium) {
		.h-left-#{$breakpoint-class-prefix-medium} {
			text-align: left;
		}

		.h-center-#{$breakpoint-class-prefix-medium} {
			text-align: center;
		}

		.h-right-#{$breakpoint-class-prefix-medium} {
			text-align: right;
		}

		.v-top-#{$breakpoint-class-prefix-medium} {
			vertical-align: top;
		}

		.v-center-#{$breakpoint-class-prefix-medium} {
			vertical-align: middle;
		}

		.v-bottom-#{$breakpoint-class-prefix-medium} {
			vertical-align: bottom;
		}
	}

	// Alignment on Large
	@include media-query($max-width, $breakpoint-class-prefix-large) {
		.h-left-#{$breakpoint-class-prefix-large} {
			text-align: left;
		}

		.h-center-#{$breakpoint-class-prefix-large} {
			text-align: center;
		}

		.h-right-#{$breakpoint-class-prefix-large} {
			text-align: right;
		}

		.v-top-#{$breakpoint-class-prefix-large} {
			vertical-align: top;
		}

		.v-center-#{$breakpoint-class-prefix-large} {
			vertical-align: middle;
		}

		.v-bottom-#{$breakpoint-class-prefix-large} {
			vertical-align: bottom;
		}
	}
}

@if $enable-module-alignment {
	@include generate-alignment();
}