/***********************************************************************************
	FUNCTION: ASPECT-RATIO
***********************************************************************************/
@function aspect-ratio($width: 1, $height: 1) {
	$aspect-ratio: 100%;

	@if type-of($width) == number and type-of($height) == number {
		$aspect-ratio: ($height / $width) * 100%;
	}

	@return $aspect-ratio;
}

/***********************************************************************************
	MIXIN: ASPECT-RATIO
***********************************************************************************/
@mixin aspect-ratio($width: '', $height: '') {
	@if type-of($width) == number and type-of($height) == number {
		position: relative;

		&:before {
			content: "";
			display: block;
			padding-top: aspect-ratio($width: $width, $height: $height);
		}
	}
}

@mixin aspect-ratio-content($current-breakpoint-name: '') {
	left: grid-gutter($current-breakpoint-name);
	right: grid-gutter($current-breakpoint-name);
}


/***********************************************************************************
	CLASS GENERATOR: ASPECT-RATIO
***********************************************************************************/
@mixin generate-aspect-ratio() {
	@each $aspect-ratio-list in $aspect-ratios {
		.aspect-ratio-#{nth($aspect-ratio-list,1)}-#{nth($aspect-ratio-list,2)} {
			@include aspect-ratio($width: nth($aspect-ratio-list,1), $height: nth($aspect-ratio-list,2));
		}
	}

	.aspect-ratio-content {
		display: block;
		position: absolute;
		margin: 0 !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.column > & {
			@each $current-breakpoint-list in $grid-breakpoints {
				$current-breakpoint-name: nth($current-breakpoint-list,1);

				@if(index($grid-breakpoints, $current-breakpoint-list) > 1) {
					@include media-query($media-end: $current-breakpoint-name) {
						@include aspect-ratio-content($current-breakpoint-name);
					}
				} @else {
					@include aspect-ratio-content($current-breakpoint-name);
				}
			}
		}
	}
}

@if $enable-module-aspect-ratio {
	@include generate-aspect-ratio();
}
