/***********************************************************************************
	MIXIN: ASPECT-RATIO
***********************************************************************************/
@mixin aspect-ratio($ratio-x: '', $ratio-y: '') {
	@if type-of($aspect-ratio-x) == number and type-of($aspect-ratio-y) == number {
		position: relative;

		&:before{
			content: "";
			display: block;
			padding-top: ($ratio-y / $ratio-x) * 100%;
		}
	}
}

/***********************************************************************************
	CLASS GENERATOR: ASPECT-RATIO
***********************************************************************************/
@each $aspect-ratio-list in $aspect-ratios {
	.aspect-ratio-#{nth($aspect-ratio-list,1)}-#{nth($aspect-ratio-list,2)} {
		@include aspect-ratio(nth($aspect-ratio-list,1), $ratio-y: nth($aspect-ratio-list,2));
	}
}

.aspect-ratio-content {
	display: block;
	position: absolute;
	margin: 0 !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.column > & {
		left: $grid-gutter;
		right: $grid-gutter;
	}
}