/***********************************************************************************
	FUNCTIONS: GRID
***********************************************************************************/
@function grid-breakpoint-name($index: 1) {
	$return-breakpoint-name: nth(grid-breakpoint(),1);

	@if type-of($index) == number and $index > 0 and $index <= length($grid-breakpoints) {
		$return-breakpoint-name: nth(nth($grid-breakpoints,$index),1);
	}

	@return $return-breakpoint-name;
}

@function grid-breakpoint($breakpoint: $grid-breakpoint-default) {
	$return-breakpoint: nth($grid-breakpoints,1);

	@each $current-breakpoint-list in $grid-breakpoints {
		@if nth($current-breakpoint-list,1) == $breakpoint {
			$return-breakpoint: $current-breakpoint-list;
		}
	}

	@return $return-breakpoint;
}

@function grid-columns($breakpoint: $grid-breakpoint-default) {
	$return-columns: nth(grid-breakpoint($breakpoint),3);

	@return $return-columns;
}

@function grid-gutter($breakpoint: $grid-breakpoint-default, $multiplikator: 1) {
	$return-gutter: nth(grid-breakpoint($breakpoint),4) * $multiplikator;

	@return $return-gutter;
}

@function grid-gutter-half($breakpoint: $grid-breakpoint-default) {
	$return-gutter: grid-gutter($breakpoint,0.5);

	@return $return-gutter;
}

@function grid-gutter-double($breakpoint: $grid-breakpoint-default) {
	$return-gutter: grid-gutter($breakpoint,2);

	@return $return-gutter;
}

@function grid-max-width($breakpoint: $grid-breakpoint-default) {
	$return-max-width: nth(grid-breakpoint($breakpoint),2);

	@return $return-max-width;
}

@function grid-min-width($breakpoint: $grid-breakpoint-default) {
	$return-min-width: 0;
	$breakpoint-index: index($grid-breakpoints,grid-breakpoint($breakpoint)) + 1;

	@if $breakpoint-index > 0 and $breakpoint-index <= length($grid-breakpoints) {
		$return-min-width: grid-max-width(grid-breakpoint-name($breakpoint-index)) + 1;
	}

	@return $return-min-width;
}

@function grid-column-width($column-count, $size) {
	@return (($column-part / $size) * 100%);
}


/***********************************************************************************
	MIXINS: GRID
***********************************************************************************/
// Mixin: column-width
@mixin column-width($column-count, $size){
	@if type-of($size) == string {
		$column-total: $grid-column-width-large;

		@if $size == medium {
			$column-total: $grid-columns-medium;
		}
		@else if $size == small {
			$column-total: $grid-columns-small;
		}

		width: (100% / $column-total * $column-part);
	}
	@else {
		width: (($column-part / $size) * 100%);
	}
}

// Mixin: media-width
@mixin media-query($media-end: "", $media-start: "", $media-orientation: "") {
	$breakpoint-max: "";
	$breakpoint-min: "";
	$breakpoint-orientation: "";

	@if type-of($media-end) == string and $media-end != "" {
		$breakpoint-max: " and (max-width:" + grid-max-width($media-end) + ")";
	} @else if type-of($media-end) == number {
		$breakpoint-max: " and (max-width: #{$media-end})";
	}

	@if type-of($media-start) == string and $media-start != "" {
		$breakpoint-min: " and (min-width:" + grid-min-width($media-start) + ")";
	} @else if type-of($media-start) == number {
		$breakpoint-min: " and (min-width: #{$media-start})"
	}

	@if $media-orientation != "" and ($media-orientation == 'portrait' or $media-orientation == 'landscape') {
		$breakpoint-orientation: " and (orientation: #{$media-orientation})";
	}

	$media: "only screen" + $breakpoint-min + $breakpoint-max + $breakpoint-orientation + ", print";
	@media #{$media} { @content; };
}


/***********************************************************************************
	CLASS GENERATOR: GRID
***********************************************************************************/
@mixin generate-grid-breakpoint($current-breakpoint-name: '', $column-index: 0, $current-column-width: 100%) {
	@while $column-index > 0 {
		$sub-column-index: $column-index;

		.#{$current-breakpoint-name}-#{$column-index} {
			width: $current-column-width * $column-index;

			@while $sub-column-index > 0 {
				.#{$current-breakpoint-name}-#{$sub-column-index} {
					width: (($current-column-width * $sub-column-index) / ($current-column-width * $column-index)) * 100%;
				}

				$sub-column-index: $sub-column-index - 1;
			}
		}

		.offset-#{$current-breakpoint-name}-#{$column-index} {
			margin-left: $current-column-width * $column-index;
		}

		.inset-#{$current-breakpoint-name}-#{$column-index} {
			margin-left: (-$current-column-width * $column-index) - 0.02%;
		}

		.reset-#{$current-breakpoint-name} {
			margin-left: 0;
		}

		$column-index: $column-index - 1;
	}
}

@mixin generate-grid-gutter($current-breakpoint-name: '') {
	.row .row {
		margin-left: -(grid-gutter($current-breakpoint-name));
		margin-right: -(grid-gutter($current-breakpoint-name));;
	}

	.column {
		padding-left: grid-gutter($current-breakpoint-name);
		padding-right: grid-gutter($current-breakpoint-name);
	}
}

@mixin generate-grid() {
	// container
	.container,
	.container-full {
		position: relative;
	}

	.container {
		max-width: $container-max-width;

		@if $container-align == center {
			margin: 0 auto;
		}

		@include media-query($container-max-width) {
			margin: 0 $container-horizontal-margin;
			width: 100%;
			max-width: 100%;
		}
	}

	// grid
	.row {
		font-size: 0;
		line-height: 0;

		& > * {
			@include typo();
		}
	}

	tr.row {
		display: table-row;
	}

	.column {
		display: inline-block;
		vertical-align: top;
	}

	td.column {
		display: table-cell;
	}

	// gird gutter sizes by breakpoint
	@each $current-breakpoint-list in $grid-breakpoints {
		$current-breakpoint-name: nth($current-breakpoint-list,1);

		@if(index($grid-breakpoints, $current-breakpoint-list) > 1) {
			@include media-query($media-end: $current-breakpoint-name) {
				@include generate-grid-gutter($current-breakpoint-name);
			}
		} @else {
			@include generate-grid-gutter($current-breakpoint-name);
		}
	}

	// grid column sizes by breakpoint
	.row {
		@each $current-breakpoint-list in $grid-breakpoints {
			$current-breakpoint-name: nth($current-breakpoint-list,1);
			$column-index: grid-columns($current-breakpoint-name);
			$current-column-width: 100% / $column-index;

			@if(index($grid-breakpoints, $current-breakpoint-list) > 1) {
				@include media-query($media-end: $current-breakpoint-name) {
					@include generate-grid-breakpoint($current-breakpoint-name, $column-index, $current-column-width);
				}
			} @else {
				@include generate-grid-breakpoint($current-breakpoint-name, $column-index, $current-column-width);
			}
		}
	}

	// Grid Helper
	@if $enable-module-grid-helper {
		#responslr-grid-helper-toggle {
			position: fixed;
			z-index: 100001;
			bottom: 50px;
			right: 10px;

			&:checked + #responslr-grid-helper {
				display: block;
			}
		}

		#responslr-grid-helper {
			display: none;
			position: fixed;
			z-index: 100000;
			top: 0;
			bottom: 0;
			background-color: rgba(39,174,96,.25);
			width: 100%;
			height: 100%;
			overflow: hidden;


			left: 50%;
			max-width: $container-max-width;
			width: 100%;
			margin-left: -($container-max-width / 2);

			@include media-query($container-max-width) {
				left: auto;
				margin-left: 0;
				max-width: 100%;
			}

			& > div {
				display: inline-block;
				height: 100%;

				@each $current-breakpoint-list in $grid-breakpoints {
					$current-breakpoint-name: nth($current-breakpoint-list,1);

					@include media-query($current-breakpoint-name) {
						&:nth-child(1n+#{grid-columns($current-breakpoint-name) + 1}) {
							display: none;
						}
					}
				}

				div {
					width: 100%;
					height: 100%;
					background-color: rgba(36,156,213,.5);
				}
			}
		}
	}
}

@if $enable-module-grid {
	@include generate-grid();
}