/***********************************************************************************
	MODULE: HIDER
***********************************************************************************/


/***********************************************************************************
	MIXIN: HIDER
***********************************************************************************/
@mixin hider() {
	// TODO: @mixin hider()
}


/***********************************************************************************
	CLASS GENERATOR: HIDER
***********************************************************************************/
@mixin generate-hider() {
	@include media-query($breakpoint-class-prefix-small) {
		.hide-#{$breakpoint-class-prefix-small} {
			display: none;
		}
	}

	@include media-query($breakpoint-class-prefix-medium, $breakpoint-class-prefix-medium) {
		.hide-#{$breakpoint-class-prefix-medium} {
			display: none;
		}
	}

	@include media-query($max-width, $breakpoint-class-prefix-medium) {
		.hide-#{$breakpoint-class-prefix-medium}-up {
			display: none;
		}
	}

	@include media-query($breakpoint-class-prefix-medium) {
		.hide-#{$breakpoint-class-prefix-medium}-down {
			display: none;
		}
	}

	@include media-query($breakpoint-class-prefix-large, $breakpoint-class-prefix-large) {
		.hide-#{$breakpoint-class-prefix-large} {
			display: none;
		}
	}

	@include media-query($max-width, $breakpoint-class-prefix-large) {
		.hide-#{$breakpoint-class-prefix-large}-up {
			display: none;
		}
	}

	@include media-query($breakpoint-class-prefix-large) {
		.hide-#{$breakpoint-class-prefix-large}-down {
			display: none;
		}
	}
}

@if $enable-module-hider {
	@include generate-hider();
}