/***********************************************************************************
	MODULE: HIDER
***********************************************************************************/


/***********************************************************************************
	MIXIN: HIDER
***********************************************************************************/
@mixin hider() {
	// TODO: @mixin hider()
}


/***********************************************************************************
	CLASS GENERATOR: HIDER
***********************************************************************************/
@mixin generate-hider() {
	@each $current-breakpoint-list in $grid-breakpoints {
		$current-breakpoint-name: nth($current-breakpoint-list,1);

		@include media-query($media-end: $current-breakpoint-name, $media-start: $current-breakpoint-name) {
			.hide-#{$current-breakpoint-name} {
				display: none;
			}
		}

		@include media-query($media-end: grid-breakpoint(), $media-start: $current-breakpoint-name) {
			.hide-#{$current-breakpoint-name}-up {
				display: none;
			}
		}

		@include media-query($media-end: $current-breakpoint-name) {
			.hide-#{$current-breakpoint-name}-down {
				display: none;
			}
		}
	}
}

@if $enable-module-hider {
	@include generate-hider();
}