/***********************************************************************************
	MODULE: MEDIA
***********************************************************************************/

/***********************************************************************************
	MIXIN: MEDIA-QUERY
***********************************************************************************/
@mixin media-query($media-end: "", $media-start: "", $media-orientation: "") {
	$breakpoint-max: "";
	$breakpoint-min: "";
	$breakpoint-orientation: "";

	@if type-of($media-end) == string and $media-end != "" {
		@if $media-end == $breakpoint-class-prefix-large {
			$breakpoint-max: " and (max-width: #{$max-width-large})";
		} @else if $media-end == $breakpoint-class-prefix-medium {
			$breakpoint-max: " and (max-width: #{$max-width-medium})";
		} @else if $media-end == $breakpoint-class-prefix-small {
			$breakpoint-max: " and (max-width: #{$max-width-small})";
		}
	} @else if type-of($media-end) == number {
		$breakpoint-max: " and (max-width: #{$media-end})";
	}

	@if type-of($media-start) == string and $media-start != "" {
		@if $media-start == $breakpoint-class-prefix-large {
			$breakpoint-min: " and (min-width: #{$min-width-large})"
		}
		@if $media-start ==  $breakpoint-class-prefix-medium {
			$breakpoint-min: " and (min-width: #{$min-width-medium})"
		}
		@if $media-start == $breakpoint-class-prefix-small {
			$breakpoint-min: " and (min-width: #{$min-width-small})"
		}
	} @else if type-of($media-start) == number {
		$breakpoint-min: " and (min-width: #{$media-start})"
	}

	@if $media-orientation != "" and ($media-orientation == 'portrait' or $media-orientation == 'landscape') {
		$breakpoint-orientation: " and (orientation: #{$media-orientation})";
	}

	$media: "only screen" + $breakpoint-min + $breakpoint-max + $breakpoint-orientation + ", print";
	@media #{$media} { @content; };
}


/***********************************************************************************
	CLASS GENERATOR: MEDIA
***********************************************************************************/
@if $enable-module-classes-media {
	// TODO: Class Generator Media
}