/***********************************************************************************
	MODULE: POSITION
***********************************************************************************/


/***********************************************************************************
	MIXIN: POSITION
***********************************************************************************/
@mixin position($position: 'absolute', $where: '', $value: grid-gutter-half()) {
	position: $position;
	#{$where}: $value;

	@if $where == 'left' or $where == 'right' {
		&.column {
			@if $value == grid-gutter-half() {
				#{$where}: 0;
			} @else {
				#{$where}: $value;
			}
		}
	}
}


/***********************************************************************************
	CLASS GENERATOR: POSITION
***********************************************************************************/
@mixin generate-position() {
	.position-top {
		@include position($where: top, $value: 0);
	}

	.position-right {
		@include position($where: right);
	}

	.position-bottom {
		@include position($where: bottom, $value: 0);
	}

	.position-left {
		@include position($where: left);
	}
}

@if $enable-module-position {
	@include generate-position();
}