/***********************************************************************************
	BUTTONS
***********************************************************************************/
.button {
	display: inline-block;
	cursor: pointer;
	border: 0;

	@include transition-default($button-transitions);

	/*@if($button-press-animation != 0) {
		&:active {
			position: relative;
			top: $button-press-animation;
		}
	}*/
}

// Inactive
.button-inactive {
	@extend .button;

	background-color: $button-inactive-background-color;
	border-color: $button-inactive-text-color;
	color: $button-inactive-text-color;
	cursor: default;

	/*@if($button-press-animation != 0) {
		&:active {
			position: static;
		}
	}*/
}

@each $i in $button-styles {
	.button-#{nth($i,1)} {
		@extend .button;

		@include typo($font-size: nth($i,5));

		// Padding or height
		@if(nth($i,2) == 0) {
			padding: nth($i,4) nth($i,3);
			white-space: pre-wrap; // TODO: Problem ohne diese Zeile in input-buttons = keine mehrzeiligkeit (keine Ahnung ob gute lösung)
		} @else {
			height: nth($i,2);
			padding: 0 nth($i,3);
			line-height: nth($i,2);
			white-space: nowrap;
		}

		@if(nth($i,6) != 0) {
			@include border-radius(nth($i,6));
		}
	}

	.button-#{nth($i,1)}-inactive,
	.button-#{nth($i,1)}[disabled] {
		@extend .button-#{nth($i,1)};
		@extend .button-inactive;
	}
}

// TODO: Mixin auch noch oder reichen extends (media-query problem)?

// TODO: Klassenaufbau eher .button-normal / .button-normal-inactive oder .button.normal / .button.normal.inactive