/***********************************************************************************
	RESETS
***********************************************************************************/
html, body {
	margin: 0;
	padding: 0;
	background-color: $white;
	color: $black;
	@include typo();
}

body * {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body *,
*:before,
*:after {
	@include box-sizing(border-box);
}

h1, h2, h3, h4, h5, h6 {
	@include typo($font: LatoRegular);
	text-transform: uppercase;
}

h1 {
	display: block;
	@include typo($font: LatoRegular, $font-size: large);
}

h2,
h3,
h4 {
	margin-bottom: 0;
}

a {
	color: $black;

	&:active {
		background-color: transparent;
	}
}

a {
	@include typo();
	outline: none;
	text-decoration: none;
	cursor: pointer;

	@include transition-default(background-color, color);

	@include media-query($breakpoint-class-prefix-medium) {
		@include transition(none);
	}
}

p,
table,
label {
	@include typo();
}

ol,
ul {
	@include typo();
	list-style: none;
	margin: 0 0 $spacing-small 0;

	li {

	}
}

strong {
	@include typo($font: LatoRegular);
}

img {
	display: block;
	width: 100%;
}

a img {
	border: 0;
}

nav {
	ul {
		margin: 0;

		li {

			&.active {
				a {
					color: $blue;
				}
			}

			a {
				@include typo($font: LatoRegular);
				display: block;
				text-transform: uppercase;

				.active &,
				&:hover {
					color: $blue;
				}
			}
		}
	}
}

/***********************************************************************************
	EXTENDS
***********************************************************************************/
.container {
	position: relative;
	margin: 0 auto;
	max-width: $grid-max-width;

	@include media-query($grid-max-width) {
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
}

.container-full {
	position: relative;
}