/***********************************************************************************
	UI - SHAPE
***********************************************************************************/


/***********************************************************************************
	BUBBLES
***********************************************************************************/
.bubble {
	@include border-radius(50%);
	overflow: hidden;
}


/***********************************************************************************
	ARROWS
***********************************************************************************/
/* .arrow {
	display: block;
	position: absolute;
	z-index: 1;
	width: $arrow-bubble-size;
	height: $arrow-bubble-size;
	overflow: hidden;

	@include transition-default(background-color);

	@include media-query($breakpoint-class-prefix-medium) {
		@include transition-default(none);
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		border-style: solid;

		@include transition-default(border-color);

		@include media-query($breakpoint-class-prefix-medium) {
			@include transition-default(none);
		}
	}

	&:before {
		z-index: 2;
		border-width: $arrow-size / 2;
	}

	&:after {
		z-index: 1;
		border-width: $arrow-size / 2;
	}

	&.bubble {
		@include border-radius(50%);
	}
}

.arrow-top,
.arrow-right,
.arrow-bottom,
.arrow-left {
	@extend .arrow;
	&:before,
	&:after, {
		left: ($arrow-bubble-size / 2) - ($arrow-size / 2);
	}
}

.arrow-top {
	footer & {
		top: -$arrow-bubble-size / 2;
	}

	&:before,
	&:after {
		@include transition-default(bottom);
	}

	&:before {
		bottom: ($arrow-bubble-size / 2);

	}

	&:after {
		bottom: ($arrow-bubble-size / 2) + $arrow-width;
		border-color: rgba(0,0,0,0) rgba(0,0,0,0) $color-arrow rgba(0,0,0,0);
	}

	&:hover {
		&:before {
			bottom: ($arrow-bubble-size / 2) + $arrow-transition;
		}

		&:after {
			bottom: ($arrow-bubble-size / 2) + $arrow-width + $arrow-transition;
		}
	}
}


.arrow-right {
	&:before {
		top: ($arrow-bubble-size / 2) - ($arrow-size / 2);
		left: ($arrow-bubble-size / 2) - ($arrow-size / 4) - $arrow-width;
	}

	&:after {
		top: ($arrow-bubble-size / 2) - ($arrow-size / 2);
		left: ($arrow-bubble-size / 2) - ($arrow-size / 4);
		border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) $color-arrow;
	}
}

.arrow-bottom {
	header & {
		bottom: -$arrow-bubble-size / 2;
	}

	&:before,
	&:after {
		@include transition-default(top);
	}

	&:before {
		top: ($arrow-bubble-size / 2);
	}

	&:after {
		top: ($arrow-bubble-size / 2) + $arrow-width;
		border-color: $color-arrow rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
	}

	&:hover {
		&:before {
			top: ($arrow-bubble-size / 2) + $arrow-transition;
		}

		&:after {
			top: ($arrow-bubble-size / 2) + $arrow-width + $arrow-transition;
		}
	}
}
 */


/***********************************************************************************
	TRIANGLES
***********************************************************************************/