/***********************************************************************************
	UI - TOOLTIP
***********************************************************************************/
/*
	TODO:
	- tip-position: top, right, bottom, left
	- tip-color: 
	- tip-bg-color: 
	- tip-border-radius: 
	- tip-border-width: 
	- tip-border-style: 
	- tip-border-color: 
*/

/*
1 	name
2 	offset 
3	max-width
4 	font-size
5	font-color
6 	bg-color
7	border-color
8 	border-width
9 	border-style 
10	border-radius
*/

/***********************************************************************************
	FUNCTION: TOOLTIP
***********************************************************************************/
@function responslr-tooltip($name: default) {
	@each $tooltip in $tooltips {
		@if nth($tooltip,1) == $name {
			@return $tooltip;
		}
	}
	@return null;
}

@function responslr-tooltip-offset($tooltip: responslr-tooltip()) {
	@if $tooltip {
		@return nth($tooltip,2);
	}
	@return 0;
}

@function responslr-tooltip-max-width($tooltip: responslr-tooltip()) {
	@if $tooltip {
		@return nth($tooltip,3);
	}
	@return 100%;
}

@function responslr-tooltip-font-size($tooltip: responslr-tooltip()) {
	@if $tooltip {
		@return nth($tooltip,4);
	}
	@return default;
}

@function responslr-tooltip-font-color($tooltip: responslr-tooltip()) {
	@if $tooltip {
		@return nth($tooltip,5);
	}
	@return black;
}

@function responslr-tooltip-bg-color($tooltip: responslr-tooltip()) {
	@if $tooltip {
		@return nth($tooltip,6);
	}
	@return white;
}

@function responslr-tooltip-border-color($tooltip: responslr-tooltip()) {
	@if $tooltip {
		@return nth($tooltip,7);
	}
	@return grey;
}

@function responslr-tooltip-border-width($tooltip: responslr-tooltip()) {
	@if $tooltip {
		@return nth($tooltip,8);
	}
	@return 1px;
}

@function responslr-tooltip-border-style($tooltip: responslr-tooltip()) {
	@if $tooltip {
		@return nth($tooltip,9);
	}
	@return solid;
}

@function responslr-tooltip-border-radius($tooltip: responslr-tooltip()) {
	@if $tooltip {
		@return nth($tooltip,10);
	}
	@return 2px;
}

/***********************************************************************************
	MIXIN: TOOLTIP
***********************************************************************************/
@mixin responslr-tooltip(
	$direction: top,
	$name: default
) {
	$definition: responslr-tooltip($name);
	@if $direction == top {
		$triangle-prop-pos: top;
	}

	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: none;
		bottom: -0.5em;

		@include triangle();
	}

	&:after {
		position: absolute;
		display: none;
		bottom: -2.25em;
		left: 0;
		content: attr(data-tooltip);
		background-color: #fff;
		border: 1px solid #000;
	}

	&:hover {
		&:before,
		&:after {
			display: block;
		}
	}

}

/***********************************************************************************
	CLASS GENERATOR: TOOLTIP
***********************************************************************************/
.tooltip-top {
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		display: none;
		top: -0.5em;

		@include triangle(bottom);
	}

	&:after {
		content: attr(data-tooltip);
		position: absolute;
		display: none;
		top: -2.25em;
		left: 0;
		//width: auto;
		//max-width: 300px;
		background-color: #fff;
		border: 1px solid #000;
		//white-space: pre-wrap;
	}

	&:hover {
		&:before,
		&:after {
			display: block;
		}
	}
}

.tooltip-bottom {
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		display: none;
		bottom: -0.5em;

		@include triangle();
	}

	&:after {
		position: absolute;
		display: none;
		bottom: -2.25em;
		left: 0;
		content: attr(data-tooltip);
		background-color: #fff;
		border: 1px solid #000;
	}

	&:hover {
		&:before,
		&:after {
			display: block;
		}
	}
}

.tooltip {
	position: relative;
	display: inline-block;

	.tooltip-icon {
		position: relative;
		display: inline-block;
		cursor: help;
	}

	.tooltip-icon + .tooltip-content {
		position: absolute;
		display: none;
	}

	.tooltip-icon:hover,
	.tooltip-icon:active {
		
		& + .tooltip-content {
			display: block;
			top: 1.9em;
			left: 0;
			width: 300px;
		}

		&:after {
			position: absolute;
			display: block;
			content: "";
			@include triangle(top);
		}
	}

}

.tooltip-text {
	position: relative;
	display: inline-block;
	cursor: help;
}

.tooltip-text > .tooltip-content {
	position: absolute;
	display: none;
}

.tooltip-text:hover,
.tooltip-text:active {
	
	& > .tooltip-content {
		display: block;
		top: 1.9em;
		left: 0;
		width: 300px;
	}

	&:after {
		position: absolute;
		display: block;
		content: "";
		@include triangle();
	}
}