/***********************************************************************************
	UI - TOOLTIP
***********************************************************************************/
/*
	TODO:
	- tip-position: top, right, bottom, left
	- tip-color: 
	- tip-bg-color: 
	- tip-border-radius: 
	- tip-border-width: 
	- tip-border-style: 
	- tip-border-color: 
*/

.tooltip-top {
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		display: none;
		top: -0.5em;

		@include triangle(bottom);
	}

	&:after {
		content: attr(data-tooltip);
		position: absolute;
		display: none;
		top: -2.25em;
		left: 0;
		//width: auto;
		//max-width: 300px;
		background-color: #fff;
		border: 1px solid #000;
		//white-space: pre-wrap;
	}

	&:hover {
		&:before,
		&:after {
			display: block;
		}
	}
}

.tooltip-bottom {
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		display: none;
		bottom: -0.5em;

		@include triangle();
	}

	&:after {
		position: absolute;
		display: none;
		bottom: -2.25em;
		left: 0;
		content: attr(data-tooltip);
		background-color: #fff;
		border: 1px solid #000;
	}

	&:hover {
		&:before,
		&:after {
			display: block;
		}
	}
}

.tooltip {
	position: relative;
	display: inline-block;

	.tooltip-icon {
		position: relative;
		display: inline-block;
		cursor: help;
	}

	.tooltip-icon + .tooltip-content {
		position: absolute;
		display: none;
	}

	.tooltip-icon:hover,
	.tooltip-icon:active {
		
		& + .tooltip-content {
			display: block;
			top: 1.9em;
			left: 0;
			width: 300px;
		}

		&:after {
			position: absolute;
			display: block;
			content: "";
			@include triangle();
		}
	}

}

.tooltip-text {
	position: relative;
	display: inline-block;
	cursor: help;
}

.tooltip-text > .tooltip-content {
	position: absolute;
	display: none;
}

.tooltip-text:hover,
.tooltip-text:active {
	
	& > .tooltip-content {
		display: block;
		top: 1.9em;
		left: 0;
		width: 300px;
	}

	&:after {
		position: absolute;
		display: block;
		content: "";
		@include triangle();
	}
}