/***********************************************************************************
	GLOBALS
***********************************************************************************/

// MIXINS
@mixin insert-pseudo-element($write: true, $pseudo-element: before) {
	@if $write {
		&:#{$pseudo-element} {
			@content;
		}
	} @else {
		@content;
	}
}


// GENERATORS
$responslr-generate-classes: true !default;

// Reset
$responslr-generate-resets: $responslr-generate-classes !default;


// Typo
$responslr-generate-typo: $responslr-generate-classes !default;
$responslr-generate-typo-families: $responslr-generate-typo !default;
$responslr-generate-typo-sizes: $responslr-generate-typo !default;


// Grid
$responslr-generate-grid-breakpoints: $responslr-generate-classes !default;
$responslr-generate-grid-breakpoints-helper: $responslr-generate-classes !default;


// Visiblity
$responslr-generate-visiblities: $responslr-generate-classes !default;
$responslr-generate-visiblities-showers: $responslr-generate-visiblities !default;
$responslr-generate-visiblities-hiders: $responslr-generate-visiblities !default;


// Transition
$responslr-generate-transitions: $responslr-generate-classes !default;


// Alignment
$responslr-generate-alignments: $responslr-generate-classes !default;


// Position
$responslr-generate-positions: $responslr-generate-classes !default;


// Spacing
$responslr-generate-spacings: $responslr-generate-classes !default;


// Aspect Ratio
$responslr-generate-aspect-ratios: $responslr-generate-classes !default;


// Sprite
$responslr-generate-sprites: false !default;


// Color
$responslr-generate-colors: $responslr-generate-classes !default;

$responslr-generate-colors-bg: $responslr-generate-colors !default;
$responslr-generate-colors-bg-hover: $responslr-generate-colors-bg !default;
$responslr-generate-colors-bg-focus: false !default;

$responslr-generate-colors-text: $responslr-generate-colors !default;
$responslr-generate-colors-text-hover: $responslr-generate-colors-text !default;
$responslr-generate-colors-text-focus: false !default;

$responslr-generate-colors-border: $responslr-generate-colors !default;
$responslr-generate-colors-border-hover: $responslr-generate-colors-border !default;
$responslr-generate-colors-border-focus: false !default;

$responslr-generate-colors-border-directions: false !default;
$responslr-generate-colors-border-directions-hover: $responslr-generate-colors-border-directions !default;
$responslr-generate-colors-border-directions-focus: false !default;


// Shape
$responslr-generate-shapes: $responslr-generate-classes !default;
$responslr-generate-shapes-squares: $responslr-generate-shapes !default;
$responslr-generate-shapes-circles: $responslr-generate-shapes !default;
$responslr-generate-shapes-triangles: $responslr-generate-shapes !default;
$responslr-generate-shapes-arrows: $responslr-generate-shapes !default;


// Tooltip
$responslr-generate-tooltips: $responslr-generate-classes !default;


// Button
$responslr-generate-buttons: $responslr-generate-classes !default;


// Form
$responslr-generate-forms: $responslr-generate-classes !default;


// Table
$responslr-generate-tables: $responslr-generate-classes !default;