/***********************************************************************************
	SETTINGS - SHAPE
***********************************************************************************/


// Circles
$responslr-shape-circles: () !default;

// Default circle
$responslr-shape-circles-default: responslr-map-getdefault($responslr-shape-circles) !default;

// Circle map value defaults
$responslr-shape-circles-default-width: auto !default;
$responslr-shape-circles-default-height: auto !default;
$responslr-shape-circles-default-radius: 50% !default;
$responslr-shape-circles-default-display: inline-block !default;
$responslr-shape-circles-default-overflow: hidden !default;
$responslr-shape-circles-default-horizontal-align: center !default;
$responslr-shape-circles-default-vertical-align: center !default;

// Circle classes
$responslr-shape-circle-class: 'circle' !default;
$responslr-shape-circle-class-prefix: 'circle-' !default;


// Triangles
$responslr-shape-triangles: () !default;

// Default triangle
$responslr-shape-triangles-default: responslr-map-getdefault($responslr-shape-triangles) !default;

// Triangle classes
$responslr-shape-triangle-class-prefix: 'triangle-' !default;


// Arrows
$responslr-shape-arrows: () !default;

// Default arrow
$responslr-shape-arrows-default: responslr-map-getdefault($responslr-shape-arrows) !default;

// Arrows map value defaults
$responslr-shape-arrows-default-direction: right !default;
$responslr-shape-arrows-default-size: 12px !default;
$responslr-shape-arrows-default-width: 3px !default;
$responslr-shape-arrows-default-color: black !default;
$responslr-shape-arrows-default-position: relative !default;
$responslr-shape-arrows-default-position-x: center !default;
$responslr-shape-arrows-default-position-y: center !default;
$responslr-shape-arrows-default-offset-x: 0 !default;
$responslr-shape-arrows-default-offset-y: 0 !default;
$responslr-shape-arrows-default-transition-properties: () !default;
$responslr-shape-arrows-default-transition-values: () !default;
$responslr-shape-arrows-default-pseudo-element: 'before' !default;

// Arrow classes
$responslr-shape-arrow-class: 'arrow' !default;
$responslr-shape-arrow-class-prefix: 'arrow-' !default;