
/***********************************************************************************
	HELPERS
***********************************************************************************/
// Hiders
.hide-#{$breakpoint-class-prefix-small} {
	@include media-query($breakpoint-class-prefix-small) {
		display: none;
	}
}

.hide-#{$breakpoint-class-prefix-medium} {
	@include media-query($breakpoint-class-prefix-medium, $breakpoint-class-prefix-medium) {
		display: none;
	}
}

.hide-#{$breakpoint-class-prefix-medium}-up {
	@include media-query($max-width, $breakpoint-class-prefix-medium) {
		display: none;
	}
}

.hide-#{$breakpoint-class-prefix-medium}-down {
	@include media-query($breakpoint-class-prefix-medium) {
		display: none;
	}
}

.hide-#{$breakpoint-class-prefix-large} {
	@include media-query($breakpoint-class-prefix-large, $breakpoint-class-prefix-large) {
		display: none;
	}
}

.hide-#{$breakpoint-class-prefix-large}-up {
	@include media-query($max-width, $breakpoint-class-prefix-large) {
		display: none;
	}
}

.hide-#{$breakpoint-class-prefix-large}-down {
	@include media-query($breakpoint-class-prefix-large) {
		display: none;
	}
}


// Alignments
// v-top
.v-top {
	vertical-align: top;
}

.v-top-#{$breakpoint-class-prefix-small} {
	@include media-query($breakpoint-class-prefix-small) {
		vertical-align: top;
	}
}

.v-top-#{$breakpoint-class-prefix-medium} {
	@include media-query($breakpoint-class-prefix-medium, $breakpoint-class-prefix-medium) {
		vertical-align: top;
	}
}

.v-top-#{$breakpoint-class-prefix-large} {
	@include media-query($max-width, $breakpoint-class-prefix-large) {
		vertical-align: top;
	}
}

// v-center
.v-center {
	vertical-align: middle;
}

.v-center-#{$breakpoint-class-prefix-small} {
	@include media-query($breakpoint-class-prefix-small) {
		vertical-align: middle;
	}
}

.v-center-#{$breakpoint-class-prefix-medium} {
	@include media-query($breakpoint-class-prefix-medium, $breakpoint-class-prefix-medium) {
		vertical-align: middle;
	}
}

.v-center-#{$breakpoint-class-prefix-large} {
	@include media-query($max-width, $breakpoint-class-prefix-large) {
		vertical-align: middle;
	}
}

// v-bottom
.v-bottom {
	vertical-align: bottom;
}

.v-bottom-#{$breakpoint-class-prefix-small} {
	@include media-query($breakpoint-class-prefix-small) {
		vertical-align: bottom;
	}
}

.v-bottom-#{$breakpoint-class-prefix-medium} {
	@include media-query($breakpoint-class-prefix-medium, $breakpoint-class-prefix-medium) {
		vertical-align: bottom;
	}
}

.v-bottom-#{$breakpoint-class-prefix-large} {
	@include media-query($max-width, $breakpoint-class-prefix-large) {
		vertical-align: bottom;
	}
}

// h-left
.h-left {
	text-align: left;
}

.h-left-#{$breakpoint-class-prefix-small} {
	@include media-query($breakpoint-class-prefix-small) {
		text-align: left;
	}
}

.h-left-#{$breakpoint-class-prefix-medium} {
	@include media-query($breakpoint-class-prefix-medium, $breakpoint-class-prefix-medium) {
		text-align: left;
	}
}

.h-left-#{$breakpoint-class-prefix-large} {
	@include media-query($max-width, $breakpoint-class-prefix-large) {
		text-align: left;
	}
}

// h-center
.h-center {
	text-align: center;
}

.h-center-#{$breakpoint-class-prefix-small} {
	@include media-query($breakpoint-class-prefix-small) {
		text-align: center;
	}
}

.h-center-#{$breakpoint-class-prefix-medium} {
	@include media-query($breakpoint-class-prefix-medium, $breakpoint-class-prefix-medium) {
		text-align: center;
	}
}

.h-center-#{$breakpoint-class-prefix-large} {
	@include media-query($max-width, $breakpoint-class-prefix-large) {
		text-align: center;
	}
}

// h-right
.h-right {
	text-align: right;
}

.h-right-#{$breakpoint-class-prefix-small} {
	@include media-query($breakpoint-class-prefix-small) {
		text-align: right;
	}
}

.h-right-#{$breakpoint-class-prefix-medium} {
	@include media-query($breakpoint-class-prefix-medium, $breakpoint-class-prefix-medium) {
		text-align: right;
	}
}

.h-right-#{$breakpoint-class-prefix-large} {
	@include media-query($max-width, $breakpoint-class-prefix-large) {
		text-align: right;
	}
}

// positions (absolute)
.position-top {
	position: absolute;
	top: 0;
}

.position-right {
	position: absolute;
	right: $grid-gutter-half;

	&.column {
		right: 0;
	}
}

.position-bottom {
	position: absolute;
	bottom: 0;
}

.position-left {
	position: absolute;
	left: $grid-gutter-half;

	&.column {
		left: 0;
	}
}

// aspect-ratio
@each $aspect-ratio-list in $aspect-ratios {
	.aspect-ratio-#{nth($aspect-ratio-list,1)}-#{nth($aspect-ratio-list,2)} {
		position: relative;

		&:before{
			content: "";
			display: block;
			padding-top: (nth($aspect-ratio-list,2) / nth($aspect-ratio-list,1)) * 100%;
		}
	}
}

.aspect-ratio-content {
	display: block;
	position: absolute;
	margin: 0 !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.column > & {
		left: $grid-gutter;
		right: $grid-gutter;
	}
}


// Spacings
.no-spacing {
	margin-bottom: 0;
}


// Text No-Select
.no-select {
	@include user-select(none);
}