/***********************************************************************************
	RETINA SPRITE
***********************************************************************************/
@mixin load-sprite($sprite-map: $default-sprite-map, $sprite-map-retina: $default-sprite-map-retina) {
	%#{sprite-map-name($sprite-map)} {
		background-image: sprite-url($sprite-map);
		background-repeat: no-repeat;

		@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
			background-image: sprite-url($sprite-map-retina);
			@include background-size(ceil(image-width(sprite-path($sprite-map-retina)) / 2) ceil(image-height(sprite-path($sprite-map-retina)) / 2));
		}
	}
}

@mixin get-sprite($sprite-image, $offset-x: 0px, $offset-y: 0px, $sprite-map: $default-sprite-map, $sprite-map-retina: $default-sprite-map-retina) {
	@extend %#{sprite-map-name($sprite-map)};
	@include get-sprite-position($sprite-image, $offset-x, $offset-y, $sprite-map, $sprite-map-retina);

	.lt-ie10 & {
		background-image: url('../img/#{sprite-map-name($sprite-map)}/#{$sprite-image}.png');
		background-position: $offset-x $offset-y;
		background-repeat: no-repeat;
	}
}

@mixin get-sprite-position($sprite-image, $offset-x: 0px, $offset-y: 0px, $sprite-map: $default-sprite-map, $sprite-map-retina: $default-sprite-map-retina) {
	background-position: sprite-position($sprite-map, $sprite-image, $offset-x, $offset-y);

	@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
		$sprite-image-position: sprite-position($sprite-map-retina, $sprite-image, $offset-x * 2, $offset-y * 2);
		background-position: nth($sprite-image-position, 1) / 2 nth($sprite-image-position, 2) / 2;
	}
}

/***********************************************************************************
	LOAD SPRITE
***********************************************************************************/
@include load-sprite();