/***********************************************************************************
	COMPASS OVERIDES
***********************************************************************************/
$experimental-support-for-microsoft: true;


/***********************************************************************************
	RESPONSIVE
***********************************************************************************/
// Breakpoints
$breakpoint-class-prefix-large: 'large' !default;
$breakpoint-class-prefix-medium: 'medium' !default;
$breakpoint-class-prefix-small: 'small' !default;

// Maximum Widths
$grid-max-width: 1140px !default;
$max-width: 4096px !default;
$max-width-large: 1024px !default;
$max-width-medium: 960px !default;
$max-width-small: 640px !default;

// Minimum Widths
$min-width-large: $max-width-medium + 1 !default;
$min-width-medium: $max-width-small + 1 !default;
$min-width-small: $max-width-small / 2 !default;

// Grid Columns
$grid-columns-large: 12 !default;
$grid-columns-medium: 8 !default;
$grid-columns-small: 4 !default;

$grid-column-width-large: 100% / $grid-columns-large !default;
$grid-column-width-medium: 100% / $grid-columns-medium !default;
$grid-column-width-small: 100% / $grid-columns-small !default;

// Grid Gutter
$grid-gutter: 10px !default;
$grid-gutter-half: $grid-gutter / 2 !default;
$grid-gutter-double: $grid-gutter * 2 !default;

// Grid Device Settings
$grid-start-at-large: $min-width-large !default;
$grid-end-at-large: $max-width-large !default;
$grid-start-at-medium: $min-width-medium !default;
$grid-end-at-medium: $max-width-medium !default;
$grid-start-at-small: $minWidthSmall !default;
$grid-end-at-small: $max-width-small !default;


/***********************************************************************************
	COLORS
***********************************************************************************/
$white: rgb(255,255,255) !default;
$black: rgb(0,0,0) !default;

$colors:
	'white'		$white,
	'black'		$black
!default;


/***********************************************************************************
	FONTS
***********************************************************************************/

/*  Font Name				Is Custom */
$fontFamilies:
	Arial					false	Arial								normal,
	ArialBold				false	Arial								bold,
	ArialItalic				false	Arial								italic,
	AlteHaasGrotesk			true	'altehaasgroteskregular-webfont'	normal,
	AlteHaasGroteskBold		true	'altehaasgroteskbold-webfont'		normal
!default;

$fontSizes:
	tiny		13px,
	small		15px,
	default		22px,
	medium		36px,
	large		48px		62px,
	xlarge		62px
!default;

$line-height-difference: 8px !default;

$font-size-default: 48px !default;
$line-height-default: 68px !default;



/***********************************************************************************
	BOX
***********************************************************************************/
$border-size: 3px !default;
$border-radius: 2px !default;


/***********************************************************************************
	BUTTONS
***********************************************************************************/
$button-padding-x: 18px !default;
$button-padding-y: 8px !default;
$button-height: 50px !default;

$button-border-radius: $border-radius !default;

$button-border-width: 0 !default;
$button-border-style: solid !default;
$button-border-color-type: 'lighten' !default;
$button-border-color-percent: 7% !default;
$button-border-hover-type: 'darken' !default;
$butotn-border-hover-percent: 7% !default;

$button-background-hover-type: 'lighten' !default;
$button-background-hover-percent: 7% !default;


/***********************************************************************************
	ARROWS
***********************************************************************************/
$arrow-size: 18px !default;
$arrow-width: 4px !default;
$arrow-transition: 2px !default;
$arrow-bubble-size: 50px !default;
$color-arrow: $white !default;


/***********************************************************************************
	SPACINGS
***********************************************************************************/
$spacing-default: 80px !default;
$spacing-text-default: $spacing-default - $line-height-difference - 2px !default;
$spacing-small: $spacing-default / 2 !default;
$spacing-text-small: $spacing-small - ($line-height-difference / 2) !default;
$spacing-container-full: 0 !default;


/***********************************************************************************
	SPRITES
***********************************************************************************/
$default-sprite-map: sprite-map(
	"sprite/*.png",

	$spacing: 50px

	/* $sprite-icon-facebook-position: 50% */
) !default;

$default-sprite-map-retina: sprite-map(
	"retina-sprite/*.png",

	$spacing: 50px

	/* $retina-sprite-icon-facebook-position: 50%,  */
) !default;


/***********************************************************************************
	TRANSITIONS
***********************************************************************************/
$transition-duration-default: .25s !default;
$transition-timing-function-default: ease !default;