/***********************************************************************************
	COMPASS OVERIDES
***********************************************************************************/
$experimental-support-for-microsoft: true;


/***********************************************************************************
	RESPONSIVE
***********************************************************************************/
// Breakpoints
$large: 'large' !default;
$medium: 'medium' !default;
$small: 'small' !default;

$breakpoint-class-prefix-large: $large !default;
$breakpoint-class-prefix-medium: $medium !default;
$breakpoint-class-prefix-small: $small !default;

// Maximum Widths
$grid-max-width: 1140px !default;
$max-width: 4096px !default;
$max-width-large: 1024px !default;
$max-width-medium: 960px !default;
$max-width-small: 640px !default;

// Minimum Widths
$min-width-large: $max-width-medium + 1 !default;
$min-width-medium: $max-width-small + 1 !default;
$min-width-small: $max-width-small / 2 !default;

// Grid Columns
$grid-columns-large: 12 !default;
$grid-columns-medium: 8 !default;
$grid-columns-small: 4 !default;

$grid-column-width-large: 100% / $grid-columns-large !default;
$grid-column-width-medium: 100% / $grid-columns-medium !default;
$grid-column-width-small: 100% / $grid-columns-small !default;

// Grid Gutter
$grid-gutter: 16px !default;
$grid-gutter-half: $grid-gutter / 2 !default;
$grid-gutter-double: $grid-gutter * 2 !default;

// Grid Device Settings
$grid-start-at-large: $min-width-large !default;
$grid-end-at-large: $max-width-large !default;
$grid-start-at-medium: $min-width-medium !default;
$grid-end-at-medium: $max-width-medium !default;
$grid-start-at-small: $min-width-small !default;
$grid-end-at-small: $max-width-small !default;


/***********************************************************************************
	COLORS
***********************************************************************************/
$white: rgb(255,255,255) !default;
$black: rgb(26,32,37) !default;
$grey: rgb(213,215,217) !default;
$grey-light: rgb(234,235,235) !default;
$grey-dark: rgb(45,55,63) !default;
$green: rgb(39,174,96) !default;
$blue: rgb(36,156,213) !default;
$purple: rgb(142,68,173) !default;
$red: rgb(192,57,43) !default;
$orange: rgb(242,98,50) !default;

$colors:
	'white'				$white,
	'black'				$black,
	'grey'				$grey,
	'grey-light'		$grey-light,
	'grey-dark'			$grey-dark,
	'green'				$green,
	'blue'				$blue,
	'purple'			$purple,
	'red'				$red,
	'orange'			$orange
!default;


/***********************************************************************************
	FONTS
***********************************************************************************/
//  font name (unique)		is custom 	name on file system			font-weight porperty		font-style property
//	(first is default)												400 = regular, 700 = bold
$font-families:
	LatoLight				true		lato-light					300							normal,
	LatoRegular				true		lato-regular				400							normal,
	Arial					false		Arial						400							normal,
	ArialBold				false		Arial						700							normal,
	ArialItalic				false		Arial						400							italic,
	ArialBoldItalic			false		Arial						700							italic
!default;

//	font-size name		font-size	line-height
//	(first is default)
$font-sizes:
	default				24px		34px,
	tiny				14px		22px,
	small				18px		26px,
	medium				30px		42px,
	large				48px		62px,
	xlarge				62px		80px
!default;


/***********************************************************************************
	HELPER: ASPECT-RATIO;
***********************************************************************************/
//	aspect-x	aspect-y
$aspect-ratios:
	1			1,
	2			1,
	1			2,
	4			3,
	3			4,
	16			9,
	9			16
!default;


/***********************************************************************************
	BOX
***********************************************************************************/
$border-size: 3px !default;
$border-radius: 2px !default;


/***********************************************************************************
	BUTTONS
***********************************************************************************/
//	button name			height		padding-x	padding-y		font-size name		border-radius
//	(first is default)											(by font-sizes)
$button-styles:
	default				24px		10px		0				default				2px,
	small				18px		12px		0				small				3px,
	medium				30px		14px		0				medium				4px
!default;

$button-padding-x: 18px !default;
$button-padding-y: 8px !default;
$button-height: 50px !default;

$button-border-radius: $border-radius !default;

$button-border-width: 0 !default;
$button-border-style: solid !default;


// New experimental
$button-inactive-background-color: $grey-light;
$button-inactive-text-color: $grey-dark;

$button-spacing-top: 0;
$button-spacing-bottom: $grid-gutter;


/***********************************************************************************
	ARROWS
***********************************************************************************/
$arrow-size: 18px !default;
$arrow-width: 4px !default;
$arrow-transition: 2px !default;
$arrow-bubble-size: 50px !default;
$color-arrow: $white !default;


/***********************************************************************************
	SPACINGS
***********************************************************************************/
$spacing-default: 80px !default;
$spacing-text-default: $spacing-default - $line-height-difference - 2px !default;
$spacing-small: $spacing-default / 2 !default;
$spacing-text-small: $spacing-small - ($line-height-difference / 2) !default;
$spacing-container-full: 0 !default;


/***********************************************************************************
	SPRITES
***********************************************************************************/
$default-sprite-map: sprite-map(
	"sprite/*.png",

	$spacing: 50px

	/* $sprite-icon-facebook-position: 50% */
) !default;

$default-sprite-map-retina: sprite-map(
	"retina-sprite/*.png",

	$spacing: 50px

	/* $retina-sprite-icon-facebook-position: 50%,  */
) !default;


/***********************************************************************************
	TRANSITIONS
***********************************************************************************/
$transition-duration-default: .25s !default;
$transition-timing-function-default: ease !default;