/***********************************************************************************
	OUTPUT - VISIBILITY
***********************************************************************************/


/***********************************************************************************
	MIXINS
***********************************************************************************/

@mixin rr-hide() {
	display: none !important;
}

@mixin rr-show($display-value: $rr-visiblity-showers-default-display-value) {
	display: $display-value !important;
}

@mixin rr-visibility($visibility-name) {
	@extend .#{$visibility-name} !optional;
}

// Shower
@mixin rr-visibility-show($breakpoint-name) {
	@include rr-visibility('#{$rr-visibility-showers-class-prefix}#{$breakpoint-name}');
}

@mixin rr-visibility-show-up($breakpoint-name) {
	@include rr-visibility('#{$rr-visibility-showers-class-prefix}#{$breakpoint-name}#{$rr-visibility-up-class-suffix}');
}

@mixin rr-visibility-show-down($breakpoint-name) {
	@include rr-visibility('#{$rr-visibility-showers-class-prefix}#{$breakpoint-name}#{$rr-visibility-down-class-suffix}');
}

// Hider
@mixin rr-visibility-hide($breakpoint-name) {
	@include rr-visibility('#{$rr-visibility-hiders-class-prefix}#{$breakpoint-name}');
}

@mixin rr-visibility-hide-up($breakpoint-name) {
	@include rr-visibility('#{$rr-visibility-hiders-class-prefix}#{$breakpoint-name}#{$rr-visibility-up-class-suffix}');
}

@mixin rr-visibility-hide-down($breakpoint-name) {
	@include rr-visibility('#{$rr-visibility-hiders-class-prefix}#{$breakpoint-name}#{$rr-visibility-down-class-suffix}');
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@function rr-generate-visibility-check() {
	@return $rr-generate-visibility;
}

@mixin rr-generate-hiders() {
	$breakpoint-iterator: 1;

	@each $breakpoint-key, $breakpoint-list in $rr-grid-breakpoints {
		$hider-class-name: #{$rr-visibility-hiders-class-prefix}#{$breakpoint-key};

		// Hider normal
		@include rr-media-query($max-width: $breakpoint-key, $min-width: $breakpoint-key) {
			.#{$hider-class-name} {
				@include rr-hide();
			}
		}

		// Hider up
		@if $breakpoint-iterator > 1 {
			@include rr-media-query($min-width: $breakpoint-key) {
				.#{$hider-class-name}#{$rr-visibility-up-class-suffix} {
					@include rr-hide();
				}
			}

			// Hider down
			@include rr-media-query($max-width: $breakpoint-key) {
				.#{$hider-class-name}#{$rr-visibility-down-class-suffix} {
					@include rr-hide();
				}
			}
		}

		$breakpoint-iterator: $breakpoint-iterator + 1;
	}
}

@mixin rr-generate-showers() {
	// Hide all
	.#{$rr-visibility-hide-all-class} {
		@include rr-hide();
	}

	$breakpoint-iterator: 1;

	@each $breakpoint-key, $breakpoint-list in $rr-grid-breakpoints {
		$shower-class-name: #{$rr-visibility-showers-class-prefix}#{$breakpoint-key};

		// Shower normal
		.#{$shower-class-name} {
			@extend .#{$rr-visibility-hide-all-class};
		}

		@include rr-media-query($max-width: $breakpoint-key, $min-width: $breakpoint-key) {
			.#{$shower-class-name} {
				@include rr-show();

				&.#{$rr-grid-column-class} {
					@include rr-show(inline-block);
				}
			}

			span.#{$shower-class-name} {
				@include rr-show(inline);
			}
		}

		// Shower up
		@if $breakpoint-iterator > 1 {
			.#{$shower-class-name}#{$rr-visibility-up-class-suffix},
			.#{$shower-class-name}#{$rr-visibility-down-class-suffix} {
				@extend .#{$rr-visibility-hide-all-class};
			}

			@include rr-media-query($min-width: $breakpoint-key) {
				.#{$shower-class-name}#{$rr-visibility-up-class-suffix} {
					@include rr-show();

					&.#{$rr-grid-column-class} {
						@include rr-show(inline-block);
					}
				}

				span.#{$shower-class-name}#{$rr-visibility-up-class-suffix} {
					@include rr-show(inline);
				}
			}

			// Shower down
			@include rr-media-query($max-width: $breakpoint-key) {
				.#{$shower-class-name}#{$rr-visibility-down-class-suffix} {
					@include rr-show();

					&.#{$rr-grid-column-class} {
						@include rr-show(inline-block);
					}
				}

				span.#{$shower-class-name}#{$rr-visibility-down-class-suffix} {
					@include rr-show(inline);
				}
			}
		}

		$breakpoint-iterator: $breakpoint-iterator + 1;
	}
}

@if rr-generate-visibility-check() {
	@if $rr-generate-visibility-hiders {
		@include rr-generate-hiders();
	}

	@if $rr-generate-visibility-showers {
		@include rr-generate-showers();
	}
}


/***********************************************************************************
	SETTINGS GENERATOR
***********************************************************************************/

@function rr-generate-visibility-settings-check() {
	@return $rr-generate-visibility-settings;
}

@mixin rr-generate-visibility-settings() {
	$visibility-settings: (
		showClassPrefix: $rr-visibility-showers-class-prefix,
		hiderClassPrefix: $rr-visibility-hiders-class-prefix
	);

	$global-settings: map-merge($global-settings, ( visibility: $visibility-settings ) ) !global;
}

@if rr-generate-visibility-settings-check() {
	@include rr-generate-visibility-settings();
}