/***********************************************************************************
	SETTINGS - VISIBILITY
***********************************************************************************/

// Default Setting
$rr-visibility-showers-default-display-value: inherit !default;

// Classes
$rr-visibility-showers-class-prefix: 'show-' !default;
$rr-visibility-hiders-class-prefix: 'hide-' !default;

$rr-visibility-hide-all-class: 'hide-all' !default;

$rr-visibility-up-class-suffix: '-up' !default;
$rr-visibility-down-class-suffix: '-down' !default;

// Generate css output
$rr-generate-visibility: $rr-generate-classes !default;
$rr-generate-visibility-showers: $rr-generate-visibility !default;
$rr-generate-visibility-hiders: $rr-generate-visibility !default;

// Generate json settings
$rr-generate-visibility-settings: $rr-generate-settings !default;