/***********************************************************************************
	SETTINGS - TRANSITION
***********************************************************************************/

$rr-transitions: () !default;

// Default transition
$rr-transitions-default: rr-map-getdefault($rr-transitions) !default;

// Map value defaults
$rr-transitions-default-property: all !default;
$rr-transitions-default-duration: .25s !default;
$rr-transitions-default-timing-function: ease !default;
$rr-transitions-default-delay: 0s !default;
$rr-transitions-default-hardware-acceleration: false !default;

// Classes
$rr-transition-class-prefix: 'transition-' !default;

// Generate css output
$rr-generate-transitions: $rr-generate-classes !default;