/***********************************************************************************
	OUTPUT - SPACING
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS
***********************************************************************************/

@function rr-spacing-exists($name) {
	@return map-has-key($rr-spacings, $name);
}

@function rr-spacing($name: null) {
	$return-spacing: ();

	@if $name == null {
		$name: $rr-spacings-default;
	}

	@if rr-spacing-exists($name) {
		$return-spacing: map-get($rr-spacings, $name);
	}

	@return $return-spacing;
}


/***********************************************************************************
	MAP VALUE FUNCTIONS
***********************************************************************************/

@function rr-spacing-value($name: null) {
	$return-value: map-get(rr-spacing($name), value);

	@if $return-value == null {
		@warn rr-map-required-error("value", "spacing", $name);
	}

	@return $return-value;
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

@mixin rr-spacing($spacing-size-top: null, $spacing-size-right: null, $spacing-size-bottom: null, $spacing-size-left: null, $property: margin) {
	@if $spacing-size-top {
		#{$property}-top: $spacing-size-top;
	}

	@if $spacing-size-right {
		#{$property}-right: $spacing-size-right;
	}

	@if $spacing-size-bottom {
		#{$property}-bottom: $spacing-size-bottom;
	}

	@if $spacing-size-left {
		#{$property}-left: $spacing-size-left;
	}
}

// Apply leading whitespace as margin.
@mixin rr-spacing-top($name: null, $spacing-size: null, $property: margin) {
	$spacing-size: rr-spacing-value($name) !default;

	@include rr-spacing($spacing-size-top: $spacing-size, $property: $property);

	// Breakpoint overwrites
	@if $name != null {
		$spacing-overwrites: rr-map-breakpoint-overwrites(spacing, $name);

		@each $breakpoint-key, $overwrite-list in $spacing-overwrites {
			@include rr-media-query($breakpoint-key) {
				@if map-has-key($overwrite-list, 'value') {
					@include rr-spacing($spacing-size-top: map-get($overwrite-list, 'value'), $property: $property);
				}
			}
		}
	}
}

// Apply trailing whitespace as margin.
@mixin rr-spacing-bottom($name: null, $spacing-size: null, $property: margin) {
	$spacing-size: rr-spacing-value($name) !default;

	@include rr-spacing($spacing-size-bottom: $spacing-size, $property: $property);

	// Breakpoint overwrites
	@if $name != null {
		$spacing-overwrites: rr-map-breakpoint-overwrites(spacing, $name);

		@each $breakpoint-key, $overwrite-list in $spacing-overwrites {
			@include rr-media-query($breakpoint-key) {
				@if map-has-key($overwrite-list, 'value') {
					@include rr-spacing($spacing-size-bottom: map-get($overwrite-list, 'value'), $property: $property);
				}
			}
		}
	}
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@function rr-generate-spacings-check() {
	@return $rr-generate-spacings and rr-map-isnotempty($rr-spacings);
}

@mixin rr-generate-spacings() {
	@each $spacing-key, $spacing-value in $rr-spacings {
		.#{$rr-spacing-top-class-prefix}#{$spacing-key} {
			@include rr-spacing-top($name: $spacing-key);
		}

		.#{$rr-spacing-bottom-class-prefix}#{$spacing-key} {
			@include rr-spacing-bottom($name: $spacing-key);
		}
	}
}

@if rr-generate-spacings-check() {
	@include rr-generate-spacings();
}