/***********************************************************************************
	OUTPUT - SPACING
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS
***********************************************************************************/

@function rr-spacing-exists($name) {
	@return map-has-key($rr-spacings, $name);
}


/***********************************************************************************
	MAP VALUE FUNCTIONS
***********************************************************************************/

@function rr-spacing-size($name: null) {
	$return-spacing: null;

	@if $name == null {
		$name: $rr-spacings-default;
	}

	@if rr-spacing-exists($name) {
		$return-spacing: map-get($rr-spacings, $name);
	}

	@return $return-spacing;
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

@mixin rr-spacing($spacing-size-top: null, $spacing-size-right: null, $spacing-size-bottom: null, $spacing-size-left: null, $property: margin) {
	@if $spacing-size-top {
		#{$property}-top: $spacing-size-top;
	}

	@if $spacing-size-right {
		#{$property}-right: $spacing-size-right;
	}

	@if $spacing-size-bottom {
		#{$property}-bottom: $spacing-size-bottom;
	}

	@if $spacing-size-left {
		#{$property}-left: $spacing-size-left;
	}
}

// Apply leading whitespace as margin.
@mixin rr-spacing-top($name: $rr-spacings-default, $spacing-size: null, $property: margin) {
	$spacing-size: rr-spacing-size($name) !default;

	@include rr-spacing($spacing-size-top: $spacing-size, $property: $property);
}

// Apply trailing whitespace as margin.
@mixin rr-spacing-bottom($name: $rr-spacings-default, $spacing-size: null, $property: margin) {
	$spacing-size: rr-spacing-size($name) !default;

	@include rr-spacing($spacing-size-bottom: $spacing-size, $property: $property);
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@function rr-generate-spacings-check() {
	@return $rr-generate-spacings and rr-map-isnotempty($rr-spacings);
}

@mixin rr-generate-spacings() {
	@each $spacing-key, $spacing-value in $rr-spacings {
		.#{$rr-spacing-top-class-prefix}#{$spacing-key} {
			@include rr-spacing-top($name: $spacing-key);
		}

		.#{$rr-spacing-bottom-class-prefix}#{$spacing-key} {
			@include rr-spacing-bottom($name: $spacing-key);
		}
	}
}

@if rr-generate-spacings-check() {
	@include rr-generate-spacings();
}