/***********************************************************************************
	SETTINGS - SPACING
***********************************************************************************/

$rr-spacings: (
	'none': 0,
	'small': 20px,
	'medium': 40px,
	'large': 80px
) !default;

// Default spacing
$rr-spacings-default: rr-map-getdefault($rr-spacings) !default;

// Classes
$rr-spacing-top-class-prefix: 'spacing-top-' !default;
$rr-spacing-bottom-class-prefix: 'spacing-bottom-' !default;

// Generate css output
$rr-generate-spacings: $rr-generate-classes !default;