/***********************************************************************************
	SETTINGS - SPACING
***********************************************************************************/

$rr-spacings: (
	'none': (
		value: 0
	),
	'small': (
		value: 20px
	),
	'medium': (
		value: 40px
	),
	'large': (
		value: 80px
	)
) !default;

// Default spacing
$rr-spacings-default: rr-map-getdefault($rr-spacings) !default;

// Classes
$rr-spacing-top-class-prefix: 'spacing-top-' !default;
$rr-spacing-bottom-class-prefix: 'spacing-bottom-' !default;

// Generate css output
$rr-generate-spacings: $rr-generate-classes !default;