/***********************************************************************************
	OUTPUT - CIRCLE
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS (CIRCLE)
***********************************************************************************/

@function rr-circle-exists($name) {
	@return map-has-key($rr-circles, $name);
}

@function rr-circle($name: null) {
	$return-circle: ();

	@if $name == null {
		$name: $rr-circles-default;
	}

	@if rr-circle-exists($name) {
		$return-circle: map-get($rr-circles, $name);
	}

	@return $return-circle;
}


/***********************************************************************************
	MAP VALUE FUNCTIONS (CIRCLE)
***********************************************************************************/

@function rr-circle-width($name: null) {
	$return-width: map-get(rr-circle($name), width);

	@if $return-width == null {
		$return-width: $rr-circles-default-width;
	}

	@return $return-width;
}

@function rr-circle-height($name: null) {
	$return-height: map-get(rr-circle($name), height);

	@if $return-height == null {
		$return-height: $rr-circles-default-height;
	}

	@return $return-height;
}

@function rr-circle-radius($name: null) {
	$return-radius: map-get(rr-circle($name), radius);

	@if $return-radius == null {
		$return-radius: $rr-circles-default-radius;
	}

	@return $return-radius;
}

@function rr-circle-display($name: null) {
	$return-display: map-get(rr-circle($name), display);

	@if $return-display == null {
		$return-display: $rr-circles-default-display;
	}

	@return $return-display;
}

@function rr-circle-overflow($name: null) {
	$return-overflow: map-get(rr-circle($name), overflow);

	@if $return-overflow == null {
		$return-overflow: $rr-circles-default-overflow;
	}

	@return $return-overflow;
}

@function rr-circle-horizontal-align($name: null) {
	$return-horizontal-align: map-get(rr-circle($name), horizontal-align);

	@if $return-horizontal-align == null {
		$return-horizontal-align: $rr-circles-default-horizontal-align;
	}

	@return $return-horizontal-align;
}

@function rr-circle-vertical-align($name: null) {
	$return-vertical-align: map-get(rr-circle($name), vertical-align);

	@if $return-vertical-align == null {
		$return-vertical-align: $rr-circles-default-vertical-align;
	}

	@return $return-vertical-align;
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

@mixin rr-circle($name: null, $width: null, $height: null, $radius: null, $display: null, $overflow: null, $horizontal-align: null, $vertical-align: null) {
	$width: rr-circle-width($name) !default;
	$height: rr-circle-height($name) !default;
	$radius: rr-circle-radius($name) !default;
	$display: rr-circle-display($name) !default;
	$overflow: rr-circle-overflow($name) !default;
	$horizontal-align: rr-circle-horizontal-align($name) !default;
	$vertical-align: rr-circle-vertical-align($name) !default;

	display: $display;
	overflow: $overflow;
	text-align: $horizontal-align;

	@if type-of($width) == number {
		width: $width;
	}

	@if type-of($height) == number {
		height: $height;

		@if $vertical-align == center {
			line-height: $height;
		}
	}

	@if type-of($radius) == number {
		border-radius: $radius;
	}
}


/***********************************************************************************
	CLASS GENERATOR: CIRCLE
***********************************************************************************/

@function rr-generate-circles-check() {
	@return $rr-generate-circles;
}

@mixin rr-generate-circles() {
	.#{$rr-circle-class} {
		@include rr-circle(
			$width: $rr-circles-default-width,
			$height: $rr-circles-default-height,
			$radius: $rr-circles-default-radius,
			$display: $rr-circles-default-display,
			$overflow: $rr-circles-default-overflow,
			$horizontal-align: $rr-circles-default-horizontal-align,
			$vertical-align: $rr-circles-default-vertical-align
		);
	}

	@if rr-map-isnotempty($rr-circles) {
		@each $circle-key, $circle-list in $rr-circles {
			.#{$rr-circle-class-prefix}#{$circle-key} {
				@include rr-circle($name: $circle-key);
			}
		}
	}
}

@if rr-generate-circles-check() {
	@include rr-generate-circles();
}