/***********************************************************************************
	SETTINGS - CIRCLE
***********************************************************************************/


// Circles
$rr-circles: () !default;

// Default circle
$rr-circles-default: rr-map-getdefault($rr-circles) !default;

// Circle map value defaults
$rr-circles-default-width: auto !default;
$rr-circles-default-height: auto !default;
$rr-circles-default-radius: 50% !default;
$rr-circles-default-display: inline-block !default;
$rr-circles-default-overflow: hidden !default;
$rr-circles-default-horizontal-align: center !default;
$rr-circles-default-vertical-align: center !default;

// Circle classes
$rr-circle-class: 'circle' !default;
$rr-circle-class-prefix: 'circle-' !default;

// Generate css output
$rr-generate-circles: $rr-generate-classes !default;