/***********************************************************************************
	SETTINGS - LIST
***********************************************************************************/

$rr-lists: () !default;

// Default list
$rr-lists-default: rr-map-getdefault($rr-lists) !default;

// Map value defaults
$rr-lists-default-type: vertical !default;
$rr-lists-default-bullet-type: none !default;
$rr-lists-default-bullet-custom: '' !default;
$rr-lists-default-bullet-position: outside !default;
$rr-lists-default-bullet-width: 10px !default;
$rr-lists-default-bullet-height: auto !default;
$rr-lists-default-bullet-margin: 0 !default;
$rr-lists-default-bullet-color: null !default;
$rr-lists-default-bullet-icon: null !default;
$rr-lists-default-item-padding: 0 !default;
$rr-lists-default-item-margin: 0 !default;

// Pseudo element (before or after)
$rr-list-pseudo-element: 'before' !default;

// Classes
$rr-list-class-prefix: 'list-' !default;
$rr-list-no-bullet-class: 'no-bullet' !default;

// Generate css output
$rr-generate-lists: $rr-generate-classes !default;