/***********************************************************************************
	BUTTON - SETTINGS
***********************************************************************************/

$responslr-buttons: () !default;

// Default button
$responslr-buttons-default: responslr-map-getdefault($responslr-buttons) !default;

// Inactive state
$responslr-button-inactive-background-color: silver !default;
$responslr-button-inactive-border-color: silver !default;
$responslr-button-inactive-text-color: gray !default;

// Classes
$responslr-button-class-prefix: 'button-' !default;