/***********************************************************************************
	OUTPUT - COLOR
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS
***********************************************************************************/

@function rr-color-exists($name) {
	@return map-has-key($rr-colors, $name);
}


/***********************************************************************************
	MAP VALUE FUNCTIONS
***********************************************************************************/

@function rr-color-value($name: null) {
	$return-color: $name;

	@if $name == null {
		$name: $rr-colors-default;
	}

	@if rr-color-exists($name) {
		$return-color: map-get($rr-colors, $name);
	}

	@return $return-color;
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

@mixin rr-bg-color($name: $rr-colors-default, $color: null) {
	$color: rr-color-value($name) !default;

	background-color: $color;
}

@mixin rr-text-color($name: $rr-colors-default, $color: null) {
	$color: rr-color-value($name) !default;

	color: $color;
}

@mixin rr-border-color($name: $rr-colors-default, $color: null, $property: border) {
	$color: rr-color-value($name) !default;

	#{$property}-color: $color;
}

@mixin rr-color($name: null, $color: null, $type: text-color) {
	@if $type == text-color {
		@include rr-text-color($name: $name, $color: $color);
	}

	@if $type == bg-color {
		@include rr-bg-color($name: $name, $color: $color);
	}

	$border-types: border,border-top,border-right,border-bottom,border-left;

	@if index($border-types, $type) {
		@include rr-border-color($name: $name, $color: $color, $property: $type);
	}
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@function rr-generate-colors-check() {
	@return $rr-generate-colors and rr-map-isnotempty($rr-colors);
}

@mixin rr-generate-colors() {
	@each $color-key, $color-value in $rr-colors {
		// background-color
		@if $rr-generate-colors-bg {
			.#{$rr-color-bg-class-prefix}#{$color-key} {
				@include rr-bg-color($color-key);
			}

			// background-color hover
			@if $rr-generate-colors-bg-hover {
				.#{$rr-color-bg-hover-class-prefix}#{$color-key}:hover {
					@extend .#{$rr-color-bg-class-prefix}#{$color-key};
				}
			}

			// background-color focus
			@if $rr-generate-colors-bg-focus {
				.#{$rr-color-bg-focus-class-prefix}#{$color-key}:focus {
					@extend .#{$rr-color-bg-class-prefix}#{$color-key};
				}
			}
		}

		// text-color
		@if $rr-generate-colors-text {
			.#{$rr-color-text-class-prefix}#{$color-key} {
				@include rr-text-color($color-key);
			}

			// text-color hover
			@if $rr-generate-colors-text-hover {
				.#{$rr-color-text-hover-class-prefix}#{$color-key}:hover {
					@extend .#{$rr-color-text-class-prefix}#{$color-key};
				}
			}

			// text-color focus
			@if $rr-generate-colors-text-focus {
				.#{$rr-color-text-focus-class-prefix}#{$color-key}:focus {
					@extend .#{$rr-color-text-class-prefix}#{$color-key};
				}
			}
		}

		// border-color
		@if $rr-generate-colors-border {
			.#{$rr-color-border-class-prefix}#{$color-key} {
				@include rr-border-color($color-key);
			}

			// border-color hover
			@if $rr-generate-colors-border-hover {
				.#{$rr-color-border-hover-class-prefix}#{$color-key}:hover {
					@extend .#{$rr-color-border-class-prefix}#{$color-key};
				}
			}

			// border-color focus
			@if $rr-generate-colors-border-focus {
				.#{$rr-color-border-focus-class-prefix}#{$color-key}:focus {
					@extend .#{$rr-color-border-class-prefix}#{$color-key};
				}
			}
		}

		// border-color-directions
		@if $rr-generate-colors-border-directions {
			.#{$rr-color-border-top-class-prefix}#{$color-key} {
				@include rr-border-color($color: $color-key, $property: border-top);
			}

			.#{$rr-color-border-right-class-prefix}#{$color-key} {
				@include rr-border-color($color: $color-key, $property: border-right);
			}

			.#{$rr-color-border-bottom-class-prefix}#{$color-key} {
				@include rr-border-color($color: $color-key, $property: border-bottom);
			}

			.#{$rr-color-border-left-class-prefix}#{$color-key} {
				@include rr-border-color($color: $color-key, $property: border-left);
			}

			// border-color-directions hover
			@if $rr-generate-colors-border-directions-hover {
				.#{$rr-color-border-top-hover-class-prefix}#{$color-key}:hover {
					@extend .#{$rr-color-border-top-class-prefix}#{$color-key};
				}

				.#{$rr-color-border-right-hover-class-prefix}#{$color-key}:hover {
					@extend .#{$rr-color-border-right-class-prefix}#{$color-key};
				}

				.#{$rr-color-border-bottom-hover-class-prefix}#{$color-key}:hover {
					@extend .#{$rr-color-border-bottom-class-prefix}#{$color-key};
				}

				.#{$rr-color-border-left-hover-class-prefix}#{$color-key}:hover {
					@extend .#{$rr-color-border-left-class-prefix}#{$color-key};
				}
			}

			// border-color-directions focus
			@if $rr-generate-colors-border-directions-focus {
				.#{$rr-color-border-top-focus-class-prefix}#{$color-key}:focus {
					@extend .#{$rr-color-border-top-class-prefix}#{$color-key};
				}

				.#{$rr-color-border-right-focus-class-prefix}#{$color-key}:focus {
					@extend .#{$rr-color-border-right-class-prefix}#{$color-key};
				}

				.#{$rr-color-border-bottom-focus-class-prefix}#{$color-key}:focus {
					@extend .#{$rr-color-border-bottom-class-prefix}#{$color-key};
				}

				.#{$rr-color-border-left-focus-class-prefix}#{$color-key}:focus {
					@extend .#{$rr-color-border-left-class-prefix}#{$color-key};
				}
			}
		}
	}
}

@if rr-generate-colors-check() {
	@include rr-generate-colors();
}
