/***********************************************************************************
	SETTINGS - COLOR
***********************************************************************************/

$rr-colors: () !default;

// Default color
$rr-colors-default: rr-map-getdefault($rr-colors) !default;

// Classes
$rr-color-bg-class-prefix: 'bg-' !default;
$rr-color-bg-hover-class-prefix: 'bg-hover-' !default;
$rr-color-bg-focus-class-prefix: 'bg-focus-' !default;

$rr-color-text-class-prefix: 'text-' !default;
$rr-color-text-hover-class-prefix: 'text-hover-' !default;
$rr-color-text-focus-class-prefix: 'text-focus-' !default;

$rr-color-border-class-prefix: 'border-' !default;
$rr-color-border-hover-class-prefix: 'border-hover-' !default;
$rr-color-border-focus-class-prefix: 'border-focus-' !default;

$rr-color-border-top-class-prefix: 'border-top-' !default;
$rr-color-border-right-class-prefix: 'border-right-' !default;
$rr-color-border-bottom-class-prefix: 'border-bottom-' !default;
$rr-color-border-left-class-prefix: 'border-left-' !default;

$rr-color-border-top-hover-class-prefix: 'border-top-hover-' !default;
$rr-color-border-right-hover-class-prefix: 'border-right-hover-' !default;
$rr-color-border-bottom-hover-class-prefix: 'border-bottom-hover-' !default;
$rr-color-border-left-hover-class-prefix: 'border-left-hover-' !default;

$rr-color-border-top-focus-class-prefix: 'border-top-focus-' !default;
$rr-color-border-right-focus-class-prefix: 'border-right-focus-' !default;
$rr-color-border-bottom-focus-class-prefix: 'border-bottom-focus-' !default;
$rr-color-border-left-focus-class-prefix: 'border-left-focus-' !default;

// Generate css output
$rr-generate-colors: $rr-generate-classes !default;

$rr-generate-colors-bg: $rr-generate-colors !default;
$rr-generate-colors-bg-hover: $rr-generate-colors-bg !default;
$rr-generate-colors-bg-focus: false !default;

$rr-generate-colors-text: $rr-generate-colors !default;
$rr-generate-colors-text-hover: $rr-generate-colors-text !default;
$rr-generate-colors-text-focus: false !default;

$rr-generate-colors-border: $rr-generate-colors !default;
$rr-generate-colors-border-hover: $rr-generate-colors-border !default;
$rr-generate-colors-border-focus: false !default;

$rr-generate-colors-border-directions: false !default;
$rr-generate-colors-border-directions-hover: $rr-generate-colors-border-directions !default;
$rr-generate-colors-border-directions-focus: false !default;

// Default colors
$white: #FFFFFF !default;
$black: #000000 !default;