/***********************************************************************************
	COLORS
***********************************************************************************/
$colorWhite: rgb(255,255,255);
$colorBlack: rgb(26,32,37);
$colorGrey: rgb(45,55,63);

$colorGreen: rgb(39,174,96);
$colorBlue: rgb(36,156,213);
$colorPurple: rgb(142,68,173);
$colorRed: rgb(192,57,43);
$colorOrange: rgb(242,98,50);

$colorList:
	'green'		$colorGreen,
	'blue'		$colorBlue,
	'purple'	$colorPurple,
	'red'		$colorRed,
	'orange'	$colorOrange
;


/***********************************************************************************
	FONTS
***********************************************************************************/
$fontRegular: 'AlteHaasGroteskRegular';
$fontBold: 'AlteHaasGroteskBold';

$lineHeightDifferenceDefault: 8px;

$fontSizeList:
	'tiny'		13px,
	'small'		15px,
	'default'	22px,
	'medium'	36px,
	'large'		48px	20px,
	'xlarge'	150px
;

$fontSizeLarge: 48px;
$lineHeightLarge: 68px;

$fontSizeMedium: 36px;
$lineHeightMedium: $fontSizeMedium + $lineHeightDifferenceDefault;

$fontSizeDefault: 22px;
$lineHeightDefault: $fontSizeDefault + $lineHeightDifferenceDefault;

$fontSizeSmall: 15px;
$lineHeightSmall: $fontSizeSmall + $lineHeightDifferenceDefault;


/***********************************************************************************
	BOX
***********************************************************************************/
$borderSize: 3px;
$borderRadius: 2px;


/***********************************************************************************
	BUTTONS
***********************************************************************************/
$buttonPaddingX: 18px;
$buttonPaddingY: 8px;
$buttonHeight: 50px;

$buttonBorderRadius: $borderRadius;

$buttonBorderWidth: 0;
$buttonBorderStyle: solid;
$buttonBorderColorType: 'lighten';// lighten || darken || color!!!!!!!
$buttonBorderColorPercent: 7%;
$buttonBorderHoverType: 'darken';
$butotnBorderHoverPercent: 7%;

$buttonBackgroundHoverType: 'lighten'; // lighten || darken
$buttonBackgroundHoverPercent: 7%;


/***********************************************************************************
	ARROWS
***********************************************************************************/
$arrowSize:	18px;
$arrowWidth: 4px;
$arrowTransition: 2px;
$arrowBubbleSize: 50px;
$colorArrow: $colorWhite;


/***********************************************************************************
	SPACINGS
***********************************************************************************/
$spacingDefault: 80px;
$spacingTextDefault: $spacingDefault - $lineHeightDifferenceDefault - 2px;
$spacingSmall: $spacingDefault / 2;
$spacingTextSmall: $spacingSmall - ($lineHeightDifferenceDefault / 2);