/***********************************************************************************
	COLORS
***********************************************************************************/
$white: rgb(255,255,255);
$black: rgb(26,32,37);
$grey: rgb(213,215,217);
$greyLight: rgb(234,235,235);
$greyDark: rgb(45,55,63);

$green: rgb(39,174,96);
$blue: rgb(36,156,213);
$purple: rgb(142,68,173);
$red: rgb(192,57,43);
$orange: rgb(242,98,50);

$colors:
	'white'		$white,
	'black'		$black,
	'grey'		$grey,
	'greyLight'	$greyLight,
	'greyDark'	$greyDark,
	'green'		$green,
	'blue'		$blue,
	'purple'	$purple,
	'red'		$red,
	'orange'	$orange
;


/***********************************************************************************
	FONTS
***********************************************************************************/

$line-height-difference-default: 8px;
/*
$font-regular: 'AlteHaasGroteskRegular';
$font-bold: 'AlteHaasGroteskBold';


$font-sizes:
	'tiny'		13px,
	'small'		15px,
	'default'	22px,
	'medium'	36px,
	'large'		48px	20px,
	'xlarge'	150px
;

$font-size-large: 48px;
$line-height-large: 68px;

$font-size-medium: 36px;
$line-height-medium: $font-size-medium + $line-height-difference-default;

$font-size-default: 22px;
$line-height-default: $font-size-default + $line-height-difference-default;

$font-size-small: 15px;
$line-height-small: $font-size-small + $line-height-difference-default;
*/

/***********************************************************************************
	BOX
***********************************************************************************/
$border-size: 3px;
$border-radius: 2px;


/***********************************************************************************
	BUTTONS
***********************************************************************************/
$button-padding-x: 18px;
$button-padding-y: 8px;
$button-height: 50px;

$button-border-radius: $border-radius;

$button-border-width: 0;
$button-border-style: solid;
$button-border-color-type: 'lighten';// lighten || darken || color!!!!!!!
$button-border-color-percent: 7%;
$button-border-hover-type: 'darken';
$butotn-border-hover-percent: 7%;

$button-background-hover-type: 'lighten'; // lighten || darken
$button-background-hover-percent: 7%;


/***********************************************************************************
	ARROWS
***********************************************************************************/
$arrow-size: 18px;
$arrow-width: 4px;
$arrow-transition: 2px;
$arrow-bubble-size: 50px;
$color-arrow: $white;


/***********************************************************************************
	SPACINGS
***********************************************************************************/
$spacing-default: 80px;
$spacing-text-default: $spacing-default - $line-height-difference-default - 2px;
$spacing-small: $spacing-default / 2;
$spacing-text-small: $spacing-small - ($line-height-difference-default / 2);