/***********************************************************************************
	RESPONSIVE
***********************************************************************************/
// Breakpoints
// $breakpointClassPrefixLarge: 'large';
// $breakpointClassPrefixMedium: 'medium';
// $breakpointClassPrefixSmall: 'small';

// Maximum Widths
// $gridMaxWidth: 1140px;
// $maxWidth: 4096px;
// $maxWidthLarge: 1024px;
// $maxWidthMedium: 960px;
// $maxWidthSmall: 640px;

// Grid Columns
// $gridColumnsLarge: 12;
// $gridColumnsMedium: 8;
// $gridColumnsSmall: 4;

// Grid Gutter
// $gridGutter: 10px;


/***********************************************************************************
	SPRITES
***********************************************************************************/
/*$defaultSpriteMap: sprite-map(
	"sprite/*.png",

	$spacing: 50px,

	$sprite-icon-facebook-position: 50%
);

$defaultSpriteMapRetina: sprite-map(
	"retina-sprite/*.png",

	$spacing: 50px,

	$sprite-icon-facebook-position: 50%
);
*/


/***********************************************************************************
	TRANSITIONS
***********************************************************************************/
// $transitionDurationDefault: .25s;
// $transitionTimingFunctionDefault: ease;