/***********************************************************************************
	OUTPUT - TRANSITION
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS
***********************************************************************************/

@function responslr-transition-exists($name) {
	@return map-has-key($responslr-transitions, $name);
}

@function responslr-transition($name: null) {
	$return-transition: ();

	@if $name == null {
		$name: $responslr-transitions-default;
	}

	@if responslr-transition-exists($name) {
		$return-transition: map-get($responslr-transitions, $name);
	}

	@return $return-transition;
}


/***********************************************************************************
	MAP VALUE FUNCTIONS
***********************************************************************************/

@function responslr-transition-properties($name: null) {
	$return-properties: map-get(responslr-transition($name), properties);

	@if $return-properties == null {
		$return-properties: all;
	}

	@return $return-properties;
}

@function responslr-transition-duration($name: null) {
	$return-duration: map-get(responslr-transition($name), duration);

	@if $return-duration == null {
		$return-duration: .25s;
	}

	@return $return-duration;
}

@function responslr-transition-timing-function($name: null) {
	$return-timing-function: map-get(responslr-transition($name), timing-function);

	@if $return-timing-function == null {
		$return-timing-function: ease;
	}

	@return $return-timing-function;
}

@function responslr-transition-delay($name: null) {
	$return-delay: map-get(responslr-transition($name), delay);

	@if $return-delay == null {
		$return-delay: 0;
	}

	@return $return-delay;
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

/*@mixin transition-default($transition-properties...) {
	@include transition-property($transition-properties);
	@include transition-timing-function($transition-timing-function-default);
	@include transition-duration($transition-duration-default);
}*/

// TODO: Custom arguments ermöglichen / default transition

@mixin responslr-transition($name: $responslr-transitions-default) {
	$property: unquote(responslr-transition-properties($name));
	$duration: responslr-transition-duration($name);
	$timing-function: responslr-transition-timing-function($name);
	$delay: responslr-transition-delay($name);

	@include transition(all $duration $timing-function $delay);
	@include transition-property($property);
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@function responslr-generate-transitions-check() {
	@return $responslr-generate-transitions && responslr-map-isnotempty($responslr-transitions);
}

@mixin responslr-generate-transitions() {
	@each $transition-key, $transition-list in $responslr-transitions {
		.#{$responslr-transition-class-prefix}#{$transition-key} {
			@include responslr-transition($transition-key);
		}
	}
}

@if responslr-generate-transitions-check() {
	@include responslr-generate-transitions();
}