/***********************************************************************************
	OUTPUT - TRANSITION
***********************************************************************************/


/***********************************************************************************
	FUNCTIONS
***********************************************************************************/

@function responslr-transition($name: $responslr-transitions-default) {
	@each $transition in $responslr-transitions {
		@if nth($transition,1) == $name {
			@return $transition;
		}
	}

	@return null;
}

@function responslr-transition-property($name: $responslr-transitions-default) {
	$return-property: all;

	@if(length(responslr-transition($name)) >= 2) {
		$return-property: nth(responslr-transition($name),2);
	}

	@return $return-property;
}

@function responslr-transition-duration($name: $responslr-transitions-default) {
	$return-duration: 0;

	@if(length(responslr-transition($name)) >= 3) {
		$return-duration: nth(responslr-transition($name),3);
	}

	@return $return-duration;
}

@function responslr-transition-timing-function($name: $responslr-transitions-default) {
	$return-timing-function: 0;

	@if(length(responslr-transition($name)) >= 4) {
		$return-timing-function: nth(responslr-transition($name),4);
	}

	@return $return-timing-function;
}

@function responslr-transition-delay($name: $responslr-transitions-default) {
	$return-delay: 0;

	@if(length(responslr-transition($name)) >= 5) {
		$return-delay: nth(responslr-transition($name),5);
	}

	@return $return-delay;
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

/*@mixin transition-default($transition-properties...) {
	@include transition-property($transition-properties);
	@include transition-timing-function($transition-timing-function-default);
	@include transition-duration($transition-duration-default);
}*/

@mixin responslr-transition($name: $responslr-transitions-default) {
	$property: responslr-transition-property($name);
	$duration: responslr-transition-duration($name);
	$timing-function: responslr-transition-timing-function($name);
	$delay: responslr-transition-delay($name);

	@include transition(all $duration $timing-function $delay);
	@include transition-property($property);
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@mixin responslr-generate-transitions() {
	@each $transition in $responslr-transitions {
		$transition-name: nth($transition,1);

		.transition-#{$transition-name} {
			@include responslr-transition($transition-name);
		}
	}
}

@if $responslr-generate-transitions {
	@include responslr-generate-transitions();
}