/***********************************************************************************
	SETTINGS - TRANSITION
***********************************************************************************/

$responslr-transitions: (
	'color': (
		properties: 'color,background-color,border-color',
		duration: .25s
	)
) !default;

// Default transition
$responslr-transitions-default: responslr-map-getdefault($responslr-transitions) !default;

// Classes
$responslr-transition-class-prefix: 'transition-' !default;