/***********************************************************************************
	SETTINGS - FORM
***********************************************************************************/

$rr-forms: () !default;

// Default form
$rr-forms-default: rr-map-getdefault($rr-forms) !default;

// Generate css output
$rr-generate-forms: $rr-generate-classes !default;