/***********************************************************************************
	OUTPUT - TRIANGLE
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS
***********************************************************************************/

@function rr-triangle-exists($name) {
	@return map-has-key($rr-triangles, $name);
}

@function rr-triangle($name: null) {
	$return-triangle: ();

	@if $name == null {
		$name: $rr-triangles-default;
	}

	@if rr-triangle-exists($name) {
		$return-triangle: map-get($rr-triangles, $name);
	}

	@return $return-triangle;
}


/***********************************************************************************
	MAP VALUE FUNCTIONS
***********************************************************************************/

@function rr-triangle-width($name: null) {
	$return-width: map-get(rr-triangle($name), width);

	@if $return-width == null {
		@warn rr-map-required-error("width", "triangle", $name);
	}

	@return $return-width;
}

@function rr-triangle-height($name: null) {
	$return-height: map-get(rr-triangle($name), height);

	@if $return-height == null {
		@warn rr-map-required-error("height", "triangle", $name);
	}

	@return $return-height;
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

// TODO: Mixin verbessern und schöner schreiben
@mixin rr-triangle($direction: top, $width: 1em, $height: half, $color: $black) {
	@if ($direction == top or $direction == right or $direction == bottom or $direction == left) {
		@if ($height == half) {
			$height: $width / 2;
		} @else if ($height == auto) {
			$height: $width;
		}
	} @else { // if ($direction == top-left or $direction == top-right or $direction == bottom-left or $direction == bottom-right)
		@if ($height == half or $height == auto) {
			$height: $width / 2;
		}

		// do we need to make a 16px triangle for the median ?
		// $width: $width/sqrt(2);
		// $height: $height/sqrt(2);
	}
	// width is divided by 2 because it's used twice !
	$width: $width / 2;

	width: 0;
	height: 0;

	@if ($direction == top) {
		// border-top
		border-right: $width outset transparent;
		border-bottom: $height solid $color;
		border-left: $width outset transparent;
	} @else if ($direction == bottom) {
		border-top: $height solid $color;
		border-right: $width outset transparent;
		// border-bottom
		border-left: $width outset transparent;
	} @else if ($direction == left) {
		border-top: $width outset transparent;
		border-right: $height solid $color;
		border-bottom: $width outset transparent;
		// border-left
	} @else if ($direction == right) {
		border-top: $width outset transparent;
		// border-right
		border-bottom: $width outset transparent;
		border-left: $height solid $color;
	} @else if ($direction == top-left) {
		border-top: $height solid $color;
		border-right: $width outset transparent;
		border-bottom: $height outset transparent;
		border-left: $width solid $color;
	} @else if ($direction == top-right) {
		border-top: $height solid $color;
		border-right: $width solid $color;
		border-bottom: $height outset transparent;
		border-left: $width outset transparent;
	} @else if ($direction == bottom-left) {
		border-top: $height outset transparent;
		border-right: $width outset transparent;
		border-bottom: $height solid $color;
		border-left: $width solid $color;
	} @else if ($direction == bottom-right) {
		border-top: $height outset transparent;
		border-right: $width solid $color;
		border-bottom: $height solid $color;
		border-left: $width outset transparent;
	} @else {
		// https://gist.github.com/1671259
		@warn "#{error("The direction used does not exist")}";
	}
}


/***********************************************************************************
	CLASS GENERATOR: TRIANGLE
***********************************************************************************/

@function rr-generate-triangles-check() {
	@return $rr-generate-triangles;
}

@mixin generate-triangles() {
	.#{$rr-triangle-class-prefix}top {
		@include rr-triangle(top);
	}

	.#{$rr-triangle-class-prefix}right {
		@include rr-triangle(right);
	}

	.#{$rr-triangle-class-prefix}bottom {
		@include rr-triangle(bottom);
	}

	.#{$rr-triangle-class-prefix}left {
		@include rr-triangle(left);
	}

	// TODO: Generate Triangles by Responslr-Triangle-Map
	@if rr-map-isnotempty($rr-triangles) {
		// cool shit here
	}
}

@if rr-generate-triangles-check() {
	@include generate-triangles();
}