/***********************************************************************************
	SETTINGS - TRIANGLE
***********************************************************************************/

// Triangles
$rr-triangles: () !default;

// Default triangle
$rr-triangles-default: rr-map-getdefault($rr-triangles) !default;

// Triangle classes
$rr-triangle-class-prefix: 'triangle-' !default;

// Generate css output
$rr-generate-triangles: $rr-generate-classes !default;