/***********************************************************************************
	SETTINGS - TRIANGLE
***********************************************************************************/

// Triangles
$responslr-triangles: () !default;

// Default triangle
$responslr-triangles-default: responslr-map-getdefault($responslr-triangles) !default;

// Triangle classes
$responslr-triangle-class-prefix: 'triangle-' !default;

// Generate css output
$responslr-generate-triangles: $responslr-generate-classes !default;