/***********************************************************************************
	SETTINGS - GRID
***********************************************************************************/

// Mobile first or desktop first
$responslr-grid-mobile-first: false !default;

// Breakpoints
$responslr-grid-default-breakpoints: ();

@if $responslr-grid-mobile-first {
	$responslr-grid-default-breakpoints: (
		'small': (
			columns: 4,
			gutter: 20px
		),
		'medium': (
			min-width: 641px,
			columns: 6,
			gutter: 24px
		),
		'large': (
			min-width: 961px,
			columns: 12,
			gutter: 32px
		)
	) !global;

} @else {
	$responslr-grid-default-breakpoints: (
		'large': (
			columns: 12,
			gutter: 32px
		),
		'medium': (
			max-width: 960px,
			columns: 6,
			gutter: 24px
		),
		'small': (
			max-width: 640px,
			columns: 4,
			gutter: 20px
		)
	) !global;
}

$responslr-grid-breakpoints: $responslr-grid-default-breakpoints !default;

// Default breakpoint
$responslr-grid-breakpoints-default: responslr-map-getdefault($responslr-grid-breakpoints) !default;

// Map value defaults
$responslr-grid-breakpoints-default-columns: 12 !default;
$responslr-grid-breakpoints-default-gutter: 12px !default;

// Container
$responslr-grid-container-max-width: 1140px !default;
$responslr-grid-container-align: center !default;
$responslr-grid-container-horizontal-margin: 0 !default;

// Classes
$responslr-grid-row-class: 'row' !default;
$responslr-grid-column-class: 'column' !default;

$responslr-grid-offset-class-prefix: 'offset-' !default;
$responslr-grid-inset-class-prefix: 'inset-' !default;
$responslr-grid-reset-class-prefix: 'reset-' !default;

$responslr-grid-container-class: 'container' !default;
$responslr-grid-container-full-class: 'container-full' !default;

$responslr-grid-line-break-full-class: 'inline-break' !default;

// Grid helper
$responslr-grid-helper-show: true !default;
$responslr-grid-helper-show-grid: $responslr-grid-helper-show !default;
$responslr-grid-helper-show-breakpoint: $responslr-grid-helper-show !default;

$responslr-grid-helper-info-id: 'responslr-grid-helper-info' !default;
$responslr-grid-helper-grid-id: 'responslr-grid-helper' !default;
$responslr-grid-helper-grid-shower-class: 'show' !default;

$responslr-grid-helper-z-index: 100000 !default;
$responslr-grid-helper-column-background-color: rgba(36,156,213,.5) !default;
$responslr-grid-helper-gutter-background-color: rgba(39,174,96,.25) !default;

$responslr-grid-helper-info-z-index: 100001 !default;
$responslr-grid-helper-info-background-color: rgba(0,0,0,.7) !default;
$responslr-grid-helper-info-text-color: white !default;
$responslr-grid-helper-info-padding: 5px !default;
$responslr-grid-helper-info-position-top: auto !default;
$responslr-grid-helper-info-position-right: 10px !default;
$responslr-grid-helper-info-position-bottom: 10px !default;
$responslr-grid-helper-info-position-left: auto !default;