/***********************************************************************************
	SETTINGS - ICON
***********************************************************************************/

$responslr-icons: () !default;

// Default icon
$responslr-icons-default: responslr-map-getdefault($responslr-icons) !default;

// Classes
$responslr-icon-class-prefix: 'icon-' !default;