/***********************************************************************************
	SETTINGS - INLINE-LIST
***********************************************************************************/

$responslr-lists: () !default;

// Default list
$responslr-lists-default: responslr-map-getdefault($responslr-lists) !default;

// Map value defaults
$responslr-lists-default-type: vertical !default;
$responslr-lists-default-bullet: none !default;
$responslr-lists-default-bullet-custom: '' !default;
$responslr-lists-default-bullet-position: outside !default;
$responslr-lists-default-bullet-width: 10px !default;
$responslr-lists-default-bullet-margin: 0 !default;
$responslr-lists-default-padding: 0 !default;
$responslr-lists-default-margin: 0 !default;

// Pseudo element (before or after)
$responslr-list-pseudo-element: 'before' !default;

// Classes
$responslr-list-class-prefix: 'list-' !default;