/***********************************************************************************
	BUTTON - SETTINGS
***********************************************************************************/

$rr-buttons: () !default;

// Default button
$rr-buttons-default: rr-map-getdefault($rr-buttons) !default;

// Map value defaults
$rr-buttons-default-height: 0 !default;
$rr-buttons-default-padding: 0 !default;

$rr-buttons-default-font-family: null !default;
$rr-buttons-default-font-size: null !default;
$rr-buttons-default-font-weight: null !default;

$rr-buttons-default-text-color: null !default;
$rr-buttons-default-text-color-hover: null !default;

$rr-buttons-default-border-radius: null !default;
$rr-buttons-default-border: null !default;
$rr-buttons-default-border-hover: null !default;

$rr-buttons-default-bg-color: null !default;
$rr-buttons-default-bg-color-hover: null !default;

// Inactive state
$rr-button-inactive-background-color: silver !default;
$rr-button-inactive-border-color: silver !default;
$rr-button-inactive-text-color: gray !default;

// Classes
$rr-button-class-prefix: 'button-' !default;
$rr-button-inactive-class: 'button-inactive' !default;

// Generate css output
$rr-generate-buttons: $rr-generate-classes !default;
$rr-generate-buttons-inactive: $rr-generate-buttons !default;