/***********************************************************************************
	OUTPUT - GRID
***********************************************************************************/


/***********************************************************************************
	FUNCTIONS
***********************************************************************************/

@function responslr-grid-breakpoint-name($index: 1) {
	$return-breakpoint-name: nth(responslr-grid-breakpoint(),1);

	@if type-of($index) == number and $index > 0 and $index <= length($responslr-grid-breakpoints) {
		$return-breakpoint-name: nth(nth($responslr-grid-breakpoints,$index),1);
	}

	@return $return-breakpoint-name;
}

@function responslr-grid-breakpoint($breakpoint: $responslr-grid-breakpoints-default) {
	$return-breakpoint: nth($responslr-grid-breakpoints,1);

	@each $current-breakpoint-list in $responslr-grid-breakpoints {
		@if nth($current-breakpoint-list,1) == $breakpoint {
			$return-breakpoint: $current-breakpoint-list;
		}
	}

	@return $return-breakpoint;
}

@function responslr-grid-columns($breakpoint: $responslr-grid-breakpoints-default) {
	$return-columns: nth(responslr-grid-breakpoint($breakpoint),3);

	@return $return-columns;
}

@function responslr-grid-gutter($breakpoint: $responslr-grid-breakpoints-default, $multiplikator: 1) {
	$return-gutter: nth(responslr-grid-breakpoint($breakpoint),4) * $multiplikator;

	@return $return-gutter;
}

@function responslr-grid-gutter-half($breakpoint: $responslr-grid-breakpoints-default) {
	$return-gutter: responslr-grid-gutter($breakpoint,0.5);

	@return $return-gutter;
}

@function responslr-grid-gutter-double($breakpoint: $responslr-grid-breakpoints-default) {
	$return-gutter: responslr-grid-gutter($breakpoint,2);

	@return $return-gutter;
}

@function responslr-grid-max-width($breakpoint: $responslr-grid-breakpoints-default) {
	$return-max-width: nth(responslr-grid-breakpoint($breakpoint),2);

	@return $return-max-width;
}

@function responslr-grid-min-width($breakpoint: $responslr-grid-breakpoints-default) {
	$return-min-width: 0;
	$breakpoint-index: index($responslr-grid-breakpoints,responslr-grid-breakpoint($breakpoint)) + 1;

	@if $breakpoint-index > 0 and $breakpoint-index <= length($responslr-grid-breakpoints) {
		$return-min-width: responslr-grid-max-width(responslr-grid-breakpoint-name($breakpoint-index)) + 1;
	}

	@return $return-min-width;
}

@function responslr-grid-column-width($column-count, $size) {
	@return (($column-part / $size) * 100%);
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

// Mixin: column-width
@mixin responslr-column-width($column-count, $size){
	@if type-of($size) == string {
		$column-total: $responslr-grid-column-width-large;

		@if $size == medium {
			$column-total: $responslr-grid-columns-medium;
		}
		@else if $size == small {
			$column-total: $responslr-grid-columns-small;
		}

		width: (100% / $column-total * $column-part);
	}
	@else {
		width: (($column-part / $size) * 100%);
	}
}

// Mixin: media-width
@mixin responslr-media-query($media-end: "", $media-start: "", $media-orientation: "") {
	$breakpoint-max: "";
	$breakpoint-min: "";
	$breakpoint-orientation: "";

	@if type-of($media-end) == string and $media-end != "" {
		$breakpoint-max: " and (max-width:" + responslr-grid-max-width($media-end) + ")";
	} @else if type-of($media-end) == number {
		$breakpoint-max: " and (max-width: #{$media-end})";
	}

	@if type-of($media-start) == string and $media-start != "" {
		$breakpoint-min: " and (min-width:" + responslr-grid-min-width($media-start) + ")";
	} @else if type-of($media-start) == number {
		$breakpoint-min: " and (min-width: #{$media-start})"
	}

	@if $media-orientation != "" and ($media-orientation == 'portrait' or $media-orientation == 'landscape') {
		$breakpoint-orientation: " and (orientation: #{$media-orientation})";
	}

	$media: "only screen" + $breakpoint-min + $breakpoint-max + $breakpoint-orientation + ", print";
	@media #{$media} { @content; };
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@mixin responslr-generate-grid-breakpoint($current-breakpoint-name: '', $column-index: 0, $current-column-width: 100%) {
	@while $column-index > 0 {
		$sub-column-index: $column-index;

		.#{$current-breakpoint-name}-#{$column-index} {
			width: $current-column-width * $column-index;

			@while $sub-column-index > 0 {
				.#{$current-breakpoint-name}-#{$sub-column-index} {
					width: (($current-column-width * $sub-column-index) / ($current-column-width * $column-index)) * 100%;
				}

				$sub-column-index: $sub-column-index - 1;
			}
		}

		.offset-#{$current-breakpoint-name}-#{$column-index} {
			margin-left: $current-column-width * $column-index;
		}

		.inset-#{$current-breakpoint-name}-#{$column-index} {
			margin-left: (-$current-column-width * $column-index) - 0.02%;
		}

		.reset-#{$current-breakpoint-name} {
			margin-left: 0;
		}

		$column-index: $column-index - 1;
	}
}

@mixin responslr-generate-grid-gutter($current-breakpoint-name: '') {
	.row .row {
		margin-left: -(responslr-grid-gutter($current-breakpoint-name));
		margin-right: -(responslr-grid-gutter($current-breakpoint-name));;
	}

	.column {
		padding-left: responslr-grid-gutter($current-breakpoint-name);
		padding-right: responslr-grid-gutter($current-breakpoint-name);
	}
}

@mixin responslr-generate-grid-breakpoints() {
	// container
	.container,
	.container-full {
		position: relative;
	}

	.container {
		max-width: $responslr-grid-container-max-width;

		@if $responslr-grid-container-align == center {
			margin: 0 auto;
		} @elseif $responslr-grid-container-align == right {
			margin: 0 0 0 auto;
		}

		@include responslr-media-query($responslr-grid-container-max-width) {
			margin: 0 $responslr-grid-container-horizontal-margin;
			width: 100%;
			max-width: 100%;
		}
	}

	// letter-/word-spacing technique from:
	// 		http://davidwalsh.name/remove-whitespace-inline-block
	// 		http://yui.yahooapis.com/3.8.0/build/cssgrids/grids.css
	// 		https://github.com/csswizardry/inuit.css
	// instead of:
			.row {
				font-size: 0;
				line-height: 0;

				& > * {
					@include responslr-typo();
				}
			}
	// do:
	// .row {
	// 	font-family: Times;
	// 	font-size: 1rem;
	// 	letter-spacing: -0.31em;
	// 	text-rendering: optimizespeed;

	// 	& > * {
	// 		@include responslr-typo();
	// 		letter-spacing: normal;
	// 		word-spacing: normal;
	// 		text-rendering: auto;
	// 	}
	// }

	// x:-o-prefocus, .row {
	// 	word-spacing: -0.43em;
	// }

	tr.row {
		display: table-row;
	}

	.column {
		display: inline-block;
		vertical-align: top;
	}

	td.column {
		display: table-cell;
	}

	// gird gutter sizes by breakpoint
	@each $current-breakpoint-list in $responslr-grid-breakpoints {
		$current-breakpoint-name: nth($current-breakpoint-list,1);

		@if(index($responslr-grid-breakpoints, $current-breakpoint-list) > 1) {
			@include responslr-media-query($media-end: $current-breakpoint-name) {
				@include responslr-generate-grid-gutter($current-breakpoint-name);
			}
		} @else {
			@include responslr-generate-grid-gutter($current-breakpoint-name);
		}
	}

	// grid column sizes by breakpoint
	.row {
		@each $current-breakpoint-list in $responslr-grid-breakpoints {
			$current-breakpoint-name: nth($current-breakpoint-list,1);
			$column-index: responslr-grid-columns($current-breakpoint-name);
			$current-column-width: 100% / $column-index;

			@if(index($responslr-grid-breakpoints, $current-breakpoint-list) > 1) {
				@include responslr-media-query($media-end: $current-breakpoint-name) {
					@include responslr-generate-grid-breakpoint($current-breakpoint-name, $column-index, $current-column-width);
				}
			} @else {
				@include responslr-generate-grid-breakpoint($current-breakpoint-name, $column-index, $current-column-width);
			}
		}
	}

	// Grid Helper
	@if $responslr-generate-grid-breakpoints-helper {
		#responslr-grid-helper-toggle {
			position: fixed;
			z-index: 100001;
			bottom: 50px;
			right: 10px;

			&:checked + #responslr-grid-helper {
				display: block;
			}
		}

		#responslr-grid-helper {
			display: none;
			position: fixed;
			z-index: 100000;
			top: 0;
			bottom: 0;
			background-color: rgba(39,174,96,.25);
			width: 100%;
			height: 100%;
			overflow: hidden;


			left: 50%;
			max-width: $responslr-grid-container-max-width;
			width: 100%;
			margin-left: -($responslr-grid-container-max-width / 2);

			@include responslr-media-query($responslr-grid-container-max-width) {
				left: auto;
				margin-left: 0;
				max-width: 100%;
			}

			& > div {
				display: inline-block;
				height: 100%;

				@each $current-breakpoint-list in $responslr-grid-breakpoints {
					$current-breakpoint-name: nth($current-breakpoint-list,1);

					@include responslr-media-query($current-breakpoint-name) {
						&:nth-child(1n+#{responslr-grid-columns($current-breakpoint-name) + 1}) {
							display: none;
						}
					}
				}

				div {
					width: 100%;
					height: 100%;
					background-color: rgba(36,156,213,.5);
				}
			}
		}
	}
}

@if $responslr-generate-grid-breakpoints {
	@include responslr-generate-grid-breakpoints();
}