/***********************************************************************************
	OUTPUT - GRID
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS
***********************************************************************************/

@function responslr-grid-breakpoint-exists($name) {
	@return map-has-key($responslr-grid-breakpoints, $name);
}

@function responslr-grid-breakpoint($name: null) {
	$return-grid-breakpoint: ();

	@if $name == null {
		$name: $responslr-grid-breakpoints-default;
	}

	@if responslr-grid-breakpoint-exists($name) {
		$return-grid-breakpoint: map-get($responslr-grid-breakpoints, $name);
	}

	@return $return-grid-breakpoint;
}


/***********************************************************************************
	MAP VALUE FUNCTIONS
***********************************************************************************/

@function responslr-grid-max-width($name: null) {
	$return-max-width: map-get(responslr-grid-breakpoint($name), max-width);

	@if $return-max-width == null {
		@warn responslr-map-required-error("max-width", "grid-breakpoint", $name);
	}

	@return $return-max-width;
}

@function responslr-grid-columns($name: null) {
	$return-columns: map-get(responslr-grid-breakpoint($name), columns);

	@if $return-columns == null {
		$return-columns: $responslr-grid-breakpoints-default-columns;
	}

	@return $return-columns;
}

@function responslr-grid-gutter($name: null, $multiplier: 1) {
	$return-gutter: map-get(responslr-grid-breakpoint($name), gutter);

	@if $return-gutter == null {
		$return-gutter: $responslr-grid-breakpoints-default-gutter;
	}

	@if type-of($return-gutter) == number AND type-of($multiplier) == number {
		$return-gutter: $return-gutter * $multiplier;
	}

	@return $return-gutter;
}


/***********************************************************************************
	EXTENDED FUNCTIONS
***********************************************************************************/

@function responslr-grid-gutter-half($name: null) {
	$return-gutter-half: responslr-grid-gutter($name, 0.5);

	@return $return-gutter-half;
}

@function responslr-grid-gutter-double($name: null) {
	$return-gutter-double: responslr-grid-gutter($name, 2);

	@return $return-gutter-double;
}

@function responslr-grid-min-width($name: null) {
	$return-min-width: 0;
	$breakpoint-index: index(map-keys($responslr-grid-breakpoints), $name) + 1;

	@if $breakpoint-index > 0 and $breakpoint-index <= length($responslr-grid-breakpoints) {
		$return-min-width: responslr-grid-max-width($name) + 1;
	}

	@return $return-min-width;
}

@function responslr-grid-column-width($column-count, $size) {
	@return (($column-part / $size) * 100%);
}

@function responslr-grid-breakpoint-index($name) {
	@return index(map-keys($responslr-grid-breakpoints), $name);
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

@mixin responslr-media-query($media-end: null, $media-start: null, $media-orientation: null) {
	$breakpoint-max: '';
	$breakpoint-min: '';
	$breakpoint-orientation: '';

	@if type-of($media-end) == string and $media-end != null {
		$breakpoint-max: ' and (max-width:' + responslr-grid-max-width($media-end) + ')';
	} @else if type-of($media-end) == number {
		$breakpoint-max: ' and (max-width: #{$media-end})';
	}

	@if type-of($media-start) == string and $media-start != null {
		$breakpoint-min: ' and (min-width:' + responslr-grid-min-width($media-start) + ')';
	} @else if type-of($media-start) == number {
		$breakpoint-min: ' and (min-width: #{$media-start})'
	}

	@if $media-orientation != null and ($media-orientation == 'portrait' or $media-orientation == 'landscape') {
		$breakpoint-orientation: ' and (orientation: #{$media-orientation})';
	}

	$media: 'only screen' + $breakpoint-min + $breakpoint-max + $breakpoint-orientation + ', print';

	@media #{$media} { @content; };
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@function responslr-generate-grid-breakpoints-check() {
	@return $responslr-generate-grid-breakpoints AND responslr-map-isnotempty($responslr-grid-breakpoints);
}

@mixin responslr-generate-grid-breakpoint($name: $responslr-grid-breakpoints-default, $column-index: 0, $current-column-width: 100%) {
	@if responslr-grid-breakpoint-exists($name) {
		@while $column-index > 0 {
			$sub-column-index: $column-index;

			// Breakpoint
			.#{$name}-#{$column-index} {
				width: $current-column-width * $column-index;

				@while $sub-column-index > 0 {
					.#{$name}-#{$sub-column-index} {
						width: (($current-column-width * $sub-column-index) / ($current-column-width * $column-index)) * 100%;
					}

					$sub-column-index: $sub-column-index - 1;
				}
			}

			// Offset
			.#{$responslr-grid-offset-class-prefix}#{$name}-#{$column-index} {
				margin-left: $current-column-width * $column-index;
			}

			// Inset
			.#{$responslr-grid-inset-class-prefix}#{$name}-#{$column-index} {
				margin-left: (-$current-column-width * $column-index) - 0.02%;
			}

			// Reset
			.#{$responslr-grid-reset-class-prefix}#{$name} {
				margin-left: 0;
			}

			$column-index: $column-index - 1;
		}
	}
}

@mixin responslr-generate-grid-gutter($name: null) {
	.#{$responslr-grid-row-class} .#{$responslr-grid-row-class} {
		margin-left: -(responslr-grid-gutter-half($name));
		margin-right: -(responslr-grid-gutter-half($name));;
	}

	.#{$responslr-grid-column-class} {
		padding-left: responslr-grid-gutter-half($name);
		padding-right: responslr-grid-gutter-half($name);
	}
}

@mixin responslr-generate-grid-breakpoints() {
	// Container
	.#{$responslr-grid-container-class},
	.#{$responslr-grid-container-full-class} {
		position: relative;
	}

	.#{$responslr-grid-container-class} {
		max-width: $responslr-grid-container-max-width;

		@if $responslr-grid-container-align == center {
			margin: 0 auto;
		} @elseif $responslr-grid-container-align == right {
			margin: 0 0 0 auto;
		}

		@include responslr-media-query($responslr-grid-container-max-width) {
			margin: 0 $responslr-grid-container-horizontal-margin;
			width: 100%;
			max-width: 100%;
		}
	}

	.#{$responslr-grid-row-class} {
		font-size: 0;
		line-height: 0;

		& > * {
			@include responslr-typo();
		}
	}

	tr.#{$responslr-grid-row-class} {
		display: table-row;
	}

	.#{$responslr-grid-column-class} {
		display: inline-block;
		vertical-align: top;
	}

	td.#{$responslr-grid-column-class} {
		display: table-cell;
	}

	// Grid gutter sizes by breakpoint
	@each $breakpoint-key, $breakpoint-list in $responslr-grid-breakpoints {
		@if responslr-grid-breakpoint-index($breakpoint-key) > 1 {
			@include responslr-media-query($media-end: $breakpoint-key) {
				@include responslr-generate-grid-gutter($breakpoint-key);
			}
		} @else {
			@include responslr-generate-grid-gutter($breakpoint-key);
		}
	}

	// Grid column sizes by breakpoint
	.#{$responslr-grid-row-class} {
		@each $breakpoint-key, $breakpoint-list in $responslr-grid-breakpoints {
			$columns: responslr-grid-columns($breakpoint-key);
			$column-width: 100% / $columns;

			@if responslr-grid-breakpoint-index($breakpoint-key) > 1 {
				@include responslr-media-query($media-end: $breakpoint-key) {
					@include responslr-generate-grid-breakpoint($breakpoint-key, $columns, $column-width);
				}
			} @else {
				@include responslr-generate-grid-breakpoint($breakpoint-key, $columns, $column-width);
			}
		}
	}

	// Grid helper
	@if $responslr-generate-grid-helper {
		##{$responslr-grid-helper-toggle-id} {
			position: fixed;
			z-index: $responslr-grid-helper-toggle-z-index;

			@if type-of($responslr-grid-helper-toggle-position-top) == number {
				top: $responslr-grid-helper-toggle-position-top;
			}

			@if type-of($responslr-grid-helper-toggle-position-right) == number {
				right: $responslr-grid-helper-toggle-position-right;
			}

			@if type-of($responslr-grid-helper-toggle-position-bottom) == number {
				bottom: $responslr-grid-helper-toggle-position-bottom;
			}

			@if type-of($responslr-grid-helper-toggle-position-left) == number {
				left: $responslr-grid-helper-toggle-position-left;
			}

			&:checked + ##{$responslr-grid-helper-id} {
				display: block;
			}
		}

		##{$responslr-grid-helper-id} {
			display: none;
			position: fixed;
			z-index: $responslr-grid-helper-z-index;
			top: 0;
			bottom: 0;
			background-color: $responslr-grid-helper-gutter-background-color;
			width: 100%;
			height: 100%;
			overflow: hidden;


			left: 50%;
			max-width: $responslr-grid-container-max-width;
			width: 100%;
			margin-left: -($responslr-grid-container-max-width / 2);

			@include responslr-media-query($responslr-grid-container-max-width) {
				left: auto;
				margin-left: 0;
				max-width: 100%;
			}

			& > div {
				display: inline-block;
				height: 100%;

				@each $breakpoint-key, $breakpoint-list in $responslr-grid-breakpoints {
					@include responslr-media-query($breakpoint-key) {
						&:nth-child(1n+#{responslr-grid-columns($breakpoint-key) + 1}) {
							display: none;
						}
					}
				}

				div {
					width: 100%;
					height: 100%;
					background-color: $responslr-grid-helper-column-background-color;
				}
			}
		}
	}
}

@if responslr-generate-grid-breakpoints-check() {
	@include responslr-generate-grid-breakpoints();
}