/***********************************************************************************
	OUTPUT - GRID
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS
***********************************************************************************/

@function rr-grid-breakpoint-exists($name) {
	@return map-has-key($rr-grid-breakpoints, $name);
}

@function rr-grid-breakpoint($name: null) {
	$return-grid-breakpoint: ();

	@if $name == null {
		$name: $rr-grid-breakpoints-default;
	}

	@if rr-grid-breakpoint-exists($name) {
		$return-grid-breakpoint: map-get($rr-grid-breakpoints, $name);
	}

	@return $return-grid-breakpoint;
}


/***********************************************************************************
	MAP VALUE FUNCTIONS
***********************************************************************************/

@function rr-grid-min-width($name: null) {
	$return-min-width: map-get(rr-grid-breakpoint($name), min-width);

	@if $return-min-width == null {
		$return-min-width: none;
	}

	@return $return-min-width;
}

@function rr-grid-max-width($name: null) {
	$return-max-width: map-get(rr-grid-breakpoint($name), max-width);

	@if $return-max-width == null {
		$return-max-width: none;
	}

	@return $return-max-width;
}

@function rr-grid-columns($name: null) {
	$return-columns: map-get(rr-grid-breakpoint($name), columns);

	@if $return-columns == null {
		$return-columns: $rr-grid-breakpoints-default-columns;
	}

	@return $return-columns;
}

@function rr-grid-gutter($name: null, $multiplier: 1) {
	$return-gutter: map-get(rr-grid-breakpoint($name), gutter);

	@if $return-gutter == null {
		$return-gutter: $rr-grid-breakpoints-default-gutter;
	}

	@if type-of($return-gutter) == number and type-of($multiplier) == number {
		$return-gutter: $return-gutter * $multiplier;
	}

	@return $return-gutter;
}

@function rr-grid-base-size($name: null) {
	$return-base-size: map-get(rr-grid-breakpoint($name), base-size);

	@if $return-base-size == null {
		$return-base-size: $rr-grid-breakpoints-default-base-size;
	}

	@return $return-base-size;
}


/***********************************************************************************
	EXTENDED FUNCTIONS
***********************************************************************************/

@function rr-grid-breakpoint-index($name) {
	@return index(map-keys($rr-grid-breakpoints), $name);
}

@function rr-grid-gutter-half($name: null) {
	$return-gutter-half: rr-grid-gutter($name, 0.5);

	@return $return-gutter-half;
}

@function rr-grid-gutter-double($name: null) {
	$return-gutter-double: rr-grid-gutter($name, 2);

	@return $return-gutter-double;
}

@function rr-grid-calculate-min-width($name: null) {
	@if rr-grid-breakpoint-exists($name) {
		$return-min-width: 0;
		$breakpoint-index: rr-grid-breakpoint-index($name) + 1;

		@if $breakpoint-index > 0 and $breakpoint-index <= length($rr-grid-breakpoints) {
			$min-width-name: nth(map-keys($rr-grid-breakpoints), $breakpoint-index);
			$return-min-width: rr-grid-max-width($min-width-name) + 1;
		}

		@return $return-min-width;
	} @else {
		@return none;
	}
}

@function rr-grid-calculate-max-width($name: null) {
	@if rr-grid-breakpoint-exists($name) {
		$return-max-width: 0;
		$breakpoint-index: rr-grid-breakpoint-index($name) + 1;

		@if $breakpoint-index > 0 and $breakpoint-index <= length($rr-grid-breakpoints) {
			$max-width-name: nth(map-keys($rr-grid-breakpoints), $breakpoint-index);
			$return-max-width: rr-grid-min-width($max-width-name) - 1;
		}

		@return $return-max-width;
	} @else {
		@return none;
	}
}

@function rr-grid-column-width($column-count, $size) {
	@return (($column-part / $size) * 100%);
}

/***********************************************************************************
	MIXINS
***********************************************************************************/

@mixin rr-media-query($name: null, $max-width: null, $min-width: null, $media-orientation: null) {
	$breakpoint-max: '';
	$breakpoint-min: '';
	$breakpoint-orientation: '';

	$min-width-content: none;
	$max-width-content: none;


	@if $name != null {
		$breakpoint-name: $name;
		$breakpoint-only: false;

		@if str-index($name, '-only') != null {
			$breakpoint-name: str-slice($name, 1, str-index($name, '-only') - 1);
			$breakpoint-only: true;
		}

		@if $rr-grid-mobile-first {
			$min-width-content: rr-grid-min-width($breakpoint-name);

			@if $breakpoint-only {
				$max-width-content: rr-grid-calculate-max-width($breakpoint-name);
			}
		} @else {
			$max-width-content: rr-grid-max-width($breakpoint-name);

			@if $breakpoint-only {
				$min-width-content: rr-grid-calculate-min-width($breakpoint-name);
			}
		}

	} @else {

		@if type-of($max-width) == number {
			$max-width-content: $max-width;
		} @else {

			@if $rr-grid-mobile-first {
				$max-width-content: rr-grid-calculate-max-width($max-width);
			} @else {
				$max-width-content: rr-grid-max-width($max-width);
			}
		}

		@if type-of($min-width) == number {
			$min-width-content: $min-width;
		} @else {
			@if $rr-grid-mobile-first == false {
				$min-width-content: rr-grid-calculate-min-width($min-width);
			} @else {
				$min-width-content: rr-grid-min-width($min-width);
			}
		}

	}

	@if $min-width-content != none or $max-width-content != none or $media-orientation == 'portrait' or $media-orientation == 'landscape' {
		@if $min-width-content != none {
			$breakpoint-min: ' and (min-width: #{$min-width-content})';
		}

		@if $max-width-content != none and $max-width-content != 0 {
			$breakpoint-max: ' and (max-width: #{$max-width-content})';
		}

		@if $media-orientation == 'portrait' or $media-orientation == 'landscape' {
			$breakpoint-orientation: ' and (orientation: #{$media-orientation})';
		}

		$media: 'only screen' + $breakpoint-min + $breakpoint-max + $breakpoint-orientation + ', print';

		@media #{$media} { @content; };
	} @else {
		@content;
	}
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@function rr-generate-grid-breakpoints-check() {
	@return $rr-generate-grid-breakpoints and rr-map-isnotempty($rr-grid-breakpoints);
}

@mixin rr-generate-grid-breakpoint($name: $rr-grid-breakpoints-default, $column-index: 0, $current-column-width: 100%) {
	@if rr-grid-breakpoint-exists($name) {
		$column-widths: ();

		@while $column-index > 0 {
			$sub-column-index: $column-index;

			// Breakpoint
			$width: $current-column-width * $column-index;
			$selector: '';

			@if map-has-key($column-widths, $width) {
				$selector: map-get($column-widths, $width) + ', .#{$name}-#{$column-index}';
			} @else {
				$selector: '.#{$name}-#{$column-index}';
			}

			$column-widths: map-merge($column-widths, ($width: $selector));

			@while $sub-column-index > 0 {
				$sub-width: (($current-column-width * $sub-column-index) / ($current-column-width * $column-index)) * 100%;
				$sub-selector: '';

				@if map-has-key($column-widths, $sub-width) {
					$sub-selector: map-get($column-widths, $sub-width) + ', .#{$name}-#{$column-index} .#{$name}-#{$sub-column-index}';
				} @else {
					$sub-selector: '.#{$name}-#{$column-index} .#{$name}-#{$sub-column-index}';
				}

				$column-widths: map-merge($column-widths, ($sub-width: $sub-selector));

				$sub-column-index: $sub-column-index - 1;
			}

			// Offset
			.#{$rr-grid-offset-class-prefix}#{$name}-#{$column-index} {
				margin-left: $current-column-width * $column-index;
			}

			// Inset
			.#{$rr-grid-inset-class-prefix}#{$name}-#{$column-index} {
				margin-left: (-$current-column-width * $column-index) - 0.02%;
			}

			// Reset
			.#{$rr-grid-reset-class-prefix}#{$name} {
				margin-left: 0;
			}

			$column-index: $column-index - 1;
		}

		@each $column-width, $selector in $column-widths {
			#{$selector} {
				width: unquote($column-width);
			}
		}

	}
}

@mixin rr-generate-grid-gutter($name: null) {
	.#{$rr-grid-row-class} .#{$rr-grid-row-class} {
		margin-left: -(rr-grid-gutter-half($name));
		margin-right: -(rr-grid-gutter-half($name));;
	}

	.#{$rr-grid-column-class} {

		padding-left: rr-grid-gutter-half($name);
		padding-right: rr-grid-gutter-half($name);
	}
}

@mixin rr-generate-grid-breakpoints() {
	// Base-Size
	html {
		@each $breakpoint-key, $breakpoint-list in $rr-grid-breakpoints {
			@if rr-grid-breakpoint-index($breakpoint-key) > 1 {
				@include rr-media-query($breakpoint-key) {
					font-size: rr-grid-base-size($name: $breakpoint-key);
				}
			} @else {
				font-size: rr-grid-base-size($name: $breakpoint-key);
			}
		}
	}

	// Container
	.#{$rr-grid-container-class},
	.#{$rr-grid-container-full-class} {
		position: relative;
	}

	.#{$rr-grid-container-class} {
		max-width: $rr-grid-container-max-width;

		@if $rr-grid-container-align == center {
			margin: 0 auto;
		} @elseif $rr-grid-container-align == right {
			margin: 0 0 0 auto;
		}

		@include rr-media-query($max-width: $rr-grid-container-max-width) {
			margin: 0 $rr-grid-container-horizontal-margin;
			width: 100%;
			max-width: 100%;
		}
	}

	tr.#{$rr-grid-row-class} {
		display: table-row;
	}

	.#{$rr-grid-column-class} {
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}

	td.#{$rr-grid-column-class} {
		display: table-cell;
	}

	// Line break
	.#{$rr-grid-line-break-full-class} {
		display: block;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
		font-size: 0;
		line-height: 0;
	}

	// Grid gutter sizes by breakpoint
	@each $breakpoint-key, $breakpoint-list in $rr-grid-breakpoints {
		@if rr-grid-breakpoint-index($breakpoint-key) > 1 {
			@include rr-media-query($breakpoint-key) {
				@include rr-generate-grid-gutter($breakpoint-key);
			}
		} @else {
			@include rr-generate-grid-gutter($breakpoint-key);
		}
	}

	// Grid column sizes by breakpoint
	.#{$rr-grid-row-class} {
		@each $breakpoint-key, $breakpoint-list in $rr-grid-breakpoints {
			$columns: rr-grid-columns($breakpoint-key);
			$column-width: 100% / $columns;

			@if rr-grid-breakpoint-index($breakpoint-key) > 1 {
				@include rr-media-query($breakpoint-key) {
					@include rr-generate-grid-breakpoint($breakpoint-key, $columns, $column-width);
				}
			} @else {
				@include rr-generate-grid-breakpoint($breakpoint-key, $columns, $column-width);
			}
		}
	}

	// Grid helpers
	@if $rr-generate-grid-helper {
		##{$rr-grid-helper-info-id} {
			position: fixed;
			z-index: $rr-grid-helper-info-z-index;
			padding: $rr-grid-helper-info-padding;
			background-color: $rr-grid-helper-info-background-color;
			color: $rr-grid-helper-info-text-color;
			font-size: $rr-grid-helper-info-text-size;
			line-height: 1;

			@if type-of($rr-grid-helper-info-position-top) == number {
				top: $rr-grid-helper-info-position-top;
			}

			@if type-of($rr-grid-helper-info-position-right) == number {
				right: $rr-grid-helper-info-position-right;
			}

			@if type-of($rr-grid-helper-info-position-bottom) == number {
				bottom: $rr-grid-helper-info-position-bottom;
			}

			@if type-of($rr-grid-helper-info-position-left) == number {
				left: $rr-grid-helper-info-position-left;
			}

			span + input[type=checkbox] {
				margin-left: $rr-grid-helper-info-padding;
			}
		}

		##{$rr-grid-helper-grid-id} {
			display: none;
			position: fixed;
			z-index: $rr-grid-helper-z-index;
			top: 0;
			bottom: 0;
			width: 100%;
			overflow: hidden;

			&.#{$rr-grid-helper-grid-shower-class} {
				display: block;
			}

			.#{$rr-grid-row-class} {
				height: 100%;
				background-color: $rr-grid-helper-gutter-background-color;
			}

			.#{$rr-grid-column-class} {
				display: inline-block;
				height: 100%;

				div {
					height: 100%;
					background-color: $rr-grid-helper-column-background-color;
				}
			}
		}
	}
}

@if rr-generate-grid-breakpoints-check() {
	@include rr-generate-grid-breakpoints();
}

/***********************************************************************************
	SETTINGS GENERATOR
***********************************************************************************/

@function rr-generate-grid-settings-check() {
	@return $rr-generate-grid-settings;
}

@mixin rr-generate-grid-settings() {
	$grid-breakpoints: ();

	@each $breakpoint-key, $breakpoint-list in $rr-grid-breakpoints {
		$min-width-value: 0;
		$max-width-value: 0;

		@if $rr-grid-mobile-first {
			$min-width-value: if($breakpoint-key == nth(map-keys($rr-grid-breakpoints), 1), -1, rr-grid-min-width($breakpoint-key));
			$max-width-value: rr-grid-calculate-max-width($breakpoint-key);
		} @else {
			$min-width-value: rr-grid-calculate-min-width($breakpoint-key);
			$max-width-value: if($breakpoint-key == nth(map-keys($rr-grid-breakpoints), 1), -1, rr-grid-max-width($breakpoint-key));
		}

		$breakpoint-map: (
			$breakpoint-key: (
				name: $breakpoint-key,
				maxWidth: $max-width-value,
				minWidth: $min-width-value,
				columns: rr-grid-columns($breakpoint-key),
				gutter: rr-grid-gutter($breakpoint-key)
			)
		);

		$grid-breakpoints: map-merge($grid-breakpoints, $breakpoint-map);
	}

	$grid-settings: (
		mobileFirst: $rr-grid-mobile-first,
		containerClass: $rr-grid-container-class,
		rowClass: $rr-grid-row-class,
		columnClass: $rr-grid-column-class,
		breakpoints: $grid-breakpoints,
		helper: (
			infoId: $rr-grid-helper-info-id,
			gridId: $rr-grid-helper-grid-id,
			gridShowerClass: $rr-grid-helper-grid-shower-class,

			show: $rr-grid-helper-show,
			gridShow: $rr-grid-helper-show-grid,
			breakpointShow: $rr-grid-helper-show-breakpoint
		)
	);

	$global-settings: map-merge($global-settings, ( grid: $grid-settings ) ) !global;
}

@if rr-generate-grid-settings-check() {
	@include rr-generate-grid-settings();
}