/***********************************************************************************
	SETTINGS - GRID
***********************************************************************************/

// Mobile first or desktop first
$rr-grid-mobile-first: true !default;

// Breakpoints
$rr-grid-default-breakpoints: ();

@if $rr-grid-mobile-first {
	$rr-grid-default-breakpoints: (
		'small': (
			columns: 4,
			gutter: 20px
		),
		'medium': (
			min-width: 641px,
			columns: 6,
			gutter: 24px
		),
		'large': (
			min-width: 961px,
			columns: 12,
			gutter: 32px
		)
	) !global;

} @else {
	$rr-grid-default-breakpoints: (
		'large': (
			columns: 12,
			gutter: 32px
		),
		'medium': (
			max-width: 960px,
			columns: 6,
			gutter: 24px
		),
		'small': (
			max-width: 640px,
			columns: 4,
			gutter: 20px
		)
	) !global;
}

$rr-grid-breakpoints: $rr-grid-default-breakpoints !default;

// Default breakpoint
$rr-grid-breakpoints-default: rr-map-getdefault($rr-grid-breakpoints) !default;

// Map value defaults
$rr-grid-breakpoints-default-columns: 12 !default;
$rr-grid-breakpoints-default-gutter: 12px !default;
$rr-grid-breakpoints-default-base-size: null !default;

// Container
$rr-grid-container-max-width: 1140px !default;
$rr-grid-container-align: center !default;
$rr-grid-container-horizontal-margin: 0 !default;

// Generate gutter classes for this properties
$rr-grid-gutter-property-classes: () !default;

// Classes
$rr-grid-row-class: 'row' !default;
$rr-grid-column-class: 'column' !default;

$rr-grid-offset-class-prefix: 'offset-' !default;
$rr-grid-inset-class-prefix: 'inset-' !default;
$rr-grid-reset-class-prefix: 'reset-' !default;

$rr-grid-container-class: 'container' !default;
$rr-grid-container-full-class: 'container-full' !default;

$rr-grid-line-break-full-class: 'inline-break' !default;

$rr-grid-gutter-property-classes-prefix: 'grid-gutter-' !default;

$rr-grid-reset-class: 'row-reset' !default;

// Grid helper
$rr-grid-helper-show: true !default;
$rr-grid-helper-show-grid: $rr-grid-helper-show !default;
$rr-grid-helper-show-breakpoint: $rr-grid-helper-show !default;

$rr-grid-helper-info-id: 'responslr-grid-helper-info' !default;
$rr-grid-helper-grid-id: 'responslr-grid-helper' !default;
$rr-grid-helper-grid-shower-class: 'show' !default;

$rr-grid-helper-z-index: 100000 !default;
$rr-grid-helper-column-background-color: rgba(36,156,213,.5) !default;
$rr-grid-helper-column-border-color: $rr-grid-helper-column-background-color !default;
$rr-grid-helper-gutter-background-color: rgba(39,174,96,.25) !default;

$rr-grid-helper-info-z-index: 100001 !default;
$rr-grid-helper-info-background-color: rgba(0,0,0,.7) !default;
$rr-grid-helper-info-text-color: white !default;
$rr-grid-helper-info-text-size: 16px !default; // cant use the typo functionality here :(
$rr-grid-helper-info-padding: 5px !default;
$rr-grid-helper-info-position-top: auto !default;
$rr-grid-helper-info-position-right: 10px !default;
$rr-grid-helper-info-position-bottom: 10px !default;
$rr-grid-helper-info-position-left: auto !default;

// Generate css output
$rr-generate-grid-breakpoints: $rr-generate-classes !default;
$rr-generate-grid-helper: $rr-generate-classes !default;

// Generate json settings
$rr-generate-grid-settings: $rr-generate-settings !default;

// Set current breakpoint to default
$rr-current-breakpoint-name: rr-unquote($rr-grid-breakpoints-default);