/***********************************************************************************
	SETTINGS - ALIGNMENT
***********************************************************************************/

// Classes
$rr-alignment-horizonal-left-class: 'h-left' !default;
$rr-alignment-horizonal-center-class: 'h-center' !default;
$rr-alignment-horizonal-right-class: 'h-right' !default;

$rr-alignment-vertical-top-class: 'v-top' !default;
$rr-alignment-vertical-middle-class: 'v-middle' !default;
$rr-alignment-vertical-bottom-class: 'v-bottom' !default;

// Generate css output
$rr-generate-alignments: $rr-generate-classes !default;