/***********************************************************************************
	MODULE: ALIGNMENTS
***********************************************************************************/


/***********************************************************************************
	MIXIN: ALIGNMENT
***********************************************************************************/
@mixin responslr-alignment() {
	// TODO: @mixin responslr-alignment()
}


/***********************************************************************************
	CLASS GENERATOR: ALIGNMENT
***********************************************************************************/
@mixin responslr-generate-alignment() {
	// Default Alignments
	.h-left {
		text-align: left;
	}

	.h-center {
		text-align: center;
	}

	.h-right {
		text-align: right;
	}

	.v-top {
		vertical-align: top;
	}

	.v-center {
		vertical-align: middle;
	}

	.v-bottom {
		vertical-align: bottom;
	}

	// Alignment on Small
	@each $current-breakpoint-list in $grid-breakpoints {
		$current-breakpoint-name: nth($current-breakpoint-list,1);

		@include responslr-media-query($media-end: $current-breakpoint-name, $media-start: $current-breakpoint-name) {
			.h-left-#{$current-breakpoint-name} {
				text-align: left;
			}

			.h-center-#{$current-breakpoint-name} {
				text-align: center;
			}

			.h-right-#{$current-breakpoint-name} {
				text-align: right;
			}

			.v-top-#{$current-breakpoint-name} {
				vertical-align: top;
			}

			.v-center-#{$current-breakpoint-name} {
				vertical-align: middle;
			}

			.v-bottom-#{$current-breakpoint-name} {
				vertical-align: bottom;
			}
		}
	}
}

@if $enable-module-alignment {
	@include responslr-generate-alignment();
}