/***********************************************************************************
	OUTPUT - ICON
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS
***********************************************************************************/

@function rr-icon-exists($name) {
	@return map-has-key($rr-icons, $name);
}

@function rr-icon($name: null) {
	$return-icon: ();

	@if $name == null {
		$name: $rr-icons-default;
	}

	@if rr-icon-exists($name) {
		$return-icon: map-get($rr-icons, $name);
	}

	@return $return-icon;
}


/***********************************************************************************
	MAP VALUE FUNCTIONS
***********************************************************************************/

@function rr-icon-file($name: null) {
	$return-file: map-get(rr-icon($name), file);

	@if $return-file == null {
		@warn rr-map-required-error("file", "icons", $name);
	}

	@return $return-file;
}

@function rr-icon-size($name: null) {
	$return-size: map-get(rr-icon($name), size);

	@if $return-size == null {
		$return-size: $rr-icons-default-size;
	}

	@return $return-size;
}

@function rr-icon-offset-x($name: null) {
	$return-offset-x: map-get(rr-icon($name), offset-x);

	@if $return-offset-x == null {
		$return-offset-x: $rr-icons-default-offset-x;
	}

	@return $return-offset-x;
}

@function rr-icon-offset-y($name: null) {
	$return-offset-y: map-get(rr-icon($name), offset-y);

	@if $return-offset-y == null {
		$return-offset-y: $rr-icons-default-offset-y;
	}

	@return $return-offset-y;
}

@function rr-icon-color($name: null) {
	$return-color: map-get(rr-icon($name), color);

	@if $return-color == null {
		$return-color: $rr-icons-default-color;
	}

	@return $return-color;
}

@function rr-icon-repeat($name: null) {
	$return-repeat: map-get(rr-icon($name), repeat);

	@if $return-repeat == null {
		$return-repeat: $rr-icons-default-repeat;
	}

	@return $return-repeat;
}


/***********************************************************************************
	EXTENDED FUNCTIONS
***********************************************************************************/

@function rr-icon-url($name: null, $file: null, $color: null) {
	@if rr-icon-exists($name) {
		$color: rr-icon-color($name) !default;
	}

	@if rr-color-exists($color) {
		$color: rr-color-value($color);

	}

	$return-url: '';

	@if $file == null {
		$return-url: inline-svg(rr-icon-file($name), $color);
	} @else {
		$return-url: inline-svg($file, $color);
	}

	@return $return-url;
}


/***********************************************************************************
	MIXINS
***********************************************************************************/

@mixin rr-icon($name: $rr-icons-default, $file: null, $size: null, $offset-x: null, $offset-y: null, $color: null, $repeat: null) {
	$file: rr-icon-file($name) !default;
	$size: rr-icon-size($name) !default;
	$offset-x: rr-icon-offset-x($name) !default;
	$offset-y: rr-icon-offset-y($name) !default;
	$color: rr-icon-color($name) !default;
	$repeat: rr-icon-repeat($name) !default;

	background-image: rr-icon-url($file: $file, $color: $color);
	background-repeat: $repeat;

	@include rr-icon-position($offset-x: $offset-x, $offset-y: $offset-y);
	@include rr-icon-size($size: $size);
}

@mixin rr-icon-size($name: $rr-icons-default, $size: null) {
	$size: rr-icon-size($name) !default;

	background-size: rr-unquote($size);
}

@mixin rr-icon-position($name: $rr-icons-default, $offset-x: null, $offset-y: null) {
	$offset-x: rr-icon-offset-x($name) !default;
	$offset-y: rr-icon-offset-y($name) !default;

	background-position: $offset-x $offset-y;
}


/***********************************************************************************
	CLASS GENERATOR
***********************************************************************************/

@function rr-generate-icons-check() {
	@return $rr-generate-icons and rr-map-isnotempty($rr-icons);
}

@mixin rr-generate-icons() {
	@each $icon-key, $icon-list in $rr-icons {
		.#{$rr-icon-class-prefix}#{$icon-key} {
			@include rr-icon($icon-key);
		}
	}
}

@if rr-generate-icons-check() {
	@include rr-generate-icons();
}