/***********************************************************************************
	SETTINGS - ICON
***********************************************************************************/

$rr-icons: () !default;

// Default icon
$rr-icons-default: rr-map-getdefault($rr-icons) !default;

// Map value defaults
$rr-icons-default-size: auto !default;
$rr-icons-default-offset-x: 50% !default;
$rr-icons-default-offset-y: 50% !default;
$rr-icons-default-color: null !default;
$rr-icons-default-repeat: no-repeat !default;

// Classes
$rr-icon-class-prefix: 'icon-' !default;

// Generate css output
$rr-generate-icons: $rr-generate-classes !default;