/***********************************************************************************
	SETTINGS - INLINE-LIST
***********************************************************************************/

$responslr-inline-lists: () !default;

// Default inline-list
$responslr-inline-lists-default: responslr-map-getdefault($responslr-inline-lists) !default;

// Map value defaults
$responslr-inline-lists-default-display: inline-block !default;
$responslr-inline-lists-default-delimiter: '' !default;
$responslr-inline-lists-default-width: auto !default;
$responslr-inline-lists-default-padding: 0 !default;
$responslr-inline-lists-default-margin: 0 !default;
$responslr-inline-lists-default-bullet: '' !default;

// Pseudo element (before or after)
$responslr-inline-list-pseudo-element: 'before' !default;

// Classes
$responslr-inline-list-class-prefix: 'inline-list-' !default;