/***********************************************************************************
	OUTPUT - ARROW
***********************************************************************************/


/***********************************************************************************
	DEFAULT MAP FUNCTIONS
***********************************************************************************/

@function rr-arrow-exists($name) {
	@return map-has-key($rr-arrows, $name);
}

@function rr-arrow($name: null) {
	$return-arrow: ();

	@if $name == null {
		$name: $rr-arrows-default;
	}

	@if rr-arrow-exists($name) {
		$return-arrow: map-get($rr-arrows, $name);
	}

	@return $return-arrow;
}


/***********************************************************************************
	MAP VALUE FUNCTIONS
***********************************************************************************/

@function rr-arrow-direction($name: null) {
	$return-direction: map-get(rr-arrow($name), direction);

	@if $return-direction == null {
		$return-direction: $rr-arrows-default-direction;
	}

	@return $return-direction;
}

@function rr-arrow-size($name: null) {
	$return-size: map-get(rr-arrow($name), size);

	@if $return-size == null {
		$return-size: $rr-arrows-default-size;
	}

	@return $return-size;
}

@function rr-arrow-width($name: null) {
	$return-width: map-get(rr-arrow($name), width);

	@if $return-width == null {
		$return-width: $rr-arrows-default-width;
	}

	@return $return-width;
}

@function rr-arrow-color($name: null) {
	$return-color: map-get(rr-arrow($name), color);

	@if $return-color == null {
		$return-color: $rr-arrows-default-color;
	}

	@return $return-color;
}

@function rr-arrow-position($name: null) {
	$return-position: map-get(rr-arrow($name), position);

	@if $return-position == null {
		$return-position: $rr-arrows-default-position;
	}

	@return $return-position;
}

@function rr-arrow-position-x($name: null) {
	$return-position-x: map-get(rr-arrow($name), position-x);

	@if $return-position-x == null {
		$return-position-x: $rr-arrows-default-position-x;
	}

	@return $return-position-x;
}

@function rr-arrow-position-y($name: null) {
	$return-position-y: map-get(rr-arrow($name), position-y);

	@if $return-position-y == null {
		$return-position-y: $rr-arrows-default-position-y;
	}

	@return $return-position-y;
}

@function rr-arrow-offset-x($name: null) {
	$return-offset-x: map-get(rr-arrow($name), offset-x);

	@if $return-offset-x == null {
		$return-offset-x: $rr-arrows-default-offset-x;
	}

	@return $return-offset-x;
}

@function rr-arrow-offset-y($name: null) {
	$return-offset-y: map-get(rr-arrow($name), offset-y);

	@if $return-offset-y == null {
		$return-offset-y: $rr-arrows-default-offset-y;
	}

	@return $return-offset-y;
}

@function rr-arrow-transition-properties($name: null) {
	$return-transition-properties: map-get(rr-arrow($name), transition-properties);

	@if $return-transition-properties == null {
		$return-transition-properties: $rr-arrows-default-transition-properties;
	}

	@return $return-transition-properties;
}

@function rr-arrow-transition-values($name: null) {
	$return-transition-values: map-get(rr-arrow($name), transition-values);

	@if $return-transition-values == null {
		$return-transition-values: $rr-arrows-default-transition-values;
	}

	@return $return-transition-values;
}

@function rr-arrow-pseudo-element($name: null) {
	$return-pseudo-element: map-get(rr-arrow($name), pseudo-element);

	@if $return-pseudo-element == null {
		$return-pseudo-element: $rr-arrows-default-pseudo-element;
	}

	@return $return-pseudo-element;
}


/***********************************************************************************
	EXTENDED FUNCTIONS
***********************************************************************************/

@function rr-arrow-center-margin($size: $rr-arrows-default-size, $position-is-alignment: true) {
	$return-margin: $size;

	@if $position-is-alignment {
		$return-margin: -($size / 2);
	} @else {
		$return-margin: -($size / 3);
	}

	@return $return-margin;
}

@function rr-arrow-offset-correct($offset: 0, $width: $rr-arrows-default-width) {
	$return-offset: 0;

	$return-offset: $offset + $width;

	@return $return-offset;
}

/***********************************************************************************
	MIXINS
***********************************************************************************/

@mixin rr-arrow-direction($direction: null, $insert-pseudo-element: null, $pseudo-element: null) {
	@if $direction == up {
		@include rr-insert-pseudo-element($write: $insert-pseudo-element, $pseudo-element: $pseudo-element) {
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg) translateZ(1px);
			transform: rotate(45deg) translateZ(1px);
		}
	}

	@if $direction == right {
		@include rr-insert-pseudo-element($write: $insert-pseudo-element, $pseudo-element: $pseudo-element) {
			-ms-transform: rotate(135deg);
			-webkit-transform: rotate(135deg) translateZ(1px);
			transform: rotate(135deg) translateZ(1px);
		}
	}

	@if $direction == down {
		@include rr-insert-pseudo-element($write: $insert-pseudo-element, $pseudo-element: $pseudo-element) {
			-ms-transform: rotate(225deg);
			-webkit-transform: rotate(225deg) translateZ(1px);
			transform: rotate(225deg) translateZ(1px);
		}
	}

	@if $direction == left {
		@include rr-insert-pseudo-element($write: $insert-pseudo-element, $pseudo-element: $pseudo-element) {
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg) translateZ(1px);
			transform: rotate(-45deg) translateZ(1px);
		}
	}
}

@mixin rr-arrow-size($size: null, $insert-pseudo-element: null, $pseudo-element: null) {
	@include rr-insert-pseudo-element($write: $insert-pseudo-element, $pseudo-element: $pseudo-element) {
		width: $size;
		height: $size;
	}
}

@mixin rr-arrow-width($width: null, $insert-pseudo-element: null, $pseudo-element: null) {
	@include rr-insert-pseudo-element($write: $insert-pseudo-element, $pseudo-element: $pseudo-element) {
		border-top-width: $width;
		border-left-width: $width;
	}
}

@mixin rr-arrow-color($color: null, $insert-pseudo-element: null, $pseudo-element: null) {
	@include rr-insert-pseudo-element($write: $insert-pseudo-element, $pseudo-element: $pseudo-element) {
		border-color: rr-unquote($color);
	}
}

@mixin arrow-transition($transition-properties: null, $transition-values: null, $pseudo-element: null) {
	$transition-properties: rr-unquote($transition-properties);
	$transition-values: rr-unquote($transition-values);

	@if length($transition-properties) == length($transition-values) {
		&:#{$pseudo-element} {
			@include rr-transition();
			@include transition-property($transition-properties);
		}

		&:hover:#{$pseudo-element} {
			@each $transition-property in $transition-properties {
				#{$transition-property}: nth($transition-values, index($transition-properties, $transition-property));
			}
		}
	}
}

@mixin rr-arrow-custom(
	$name: null,
	$direction: null,
	$size: null,
	$width: null,
	$color: null,
	$position: null,
	$position-x: null,
	$position-y: null,
	$offset-x: null,
	$offset-y: null,
	$transition-properties: null,
	$transition-values: null,
	$pseudo-element: null,
	$insert-pseudo-element: true
) {
	$direction: rr-arrow-direction($name) !default;
	$size: rr-arrow-size($name) !default;
	$width: rr-arrow-width($name) !default;
	$color: rr-arrow-color($name) !default;
	$position: rr-arrow-position($name) !default;
	$position-x: rr-arrow-position-x($name) !default;
	$position-y: rr-arrow-position-y($name) !default;
	$offset-x: rr-arrow-offset-x($name) !default;
	$offset-y: rr-arrow-offset-y($name) !default;
	$transition-properties: rr-arrow-transition-properties($name) !default;
	$transition-values: rr-arrow-transition-values($name) !default;
	$pseudo-element: rr-arrow-pseudo-element($name) !default;
	$insert-pseudo-element: $rr-arrows-default-insert-pseudo-element !default;

	$position: rr-unquote($position);

	@if length($position) > 0 {
		position: $position;

		@if $position != absolute {
			&.#{$rr-aspect-ratio-content-class} {
				position: absolute;
			}
		}
	}

	@include rr-insert-pseudo-element($write: $insert-pseudo-element, $pseudo-element: $pseudo-element) {
		@include rr-arrow-width($width: $width, $insert-pseudo-element: false);
		@include rr-arrow-size($size: $size, $insert-pseudo-element: false);
		@include rr-arrow-color($color: $color, $insert-pseudo-element: false);
		@include rr-arrow-direction($direction: $direction, $insert-pseudo-element: false);

		@if $position-x == center {
			left: 50%;
			right: auto;
		}

		@if $position-x == left {
			left: rr-arrow-offset-correct($offset-x, $width);
		}

		@if $position-x == right {
			right: rr-arrow-offset-correct($offset-x, $width);
		}

		@if $position-y == top {
			top: rr-arrow-offset-correct($offset-y, $width);
		} @else if $position-y == bottom {
			bottom: rr-arrow-offset-correct($offset-y, $width);
		} @else {
			top: 50%;
		}

		// direction up
		@if $direction == up {
			@if $position-x == center {
				margin-left: rr-arrow-center-margin($size);
			}

			@if $position-y == center {
				margin-top: rr-arrow-center-margin($size, false);
			}
		}

		// direction right
		@if $direction == right {
			@if $position-x == center {
				right: 50%;
				margin-right: rr-arrow-center-margin($size, false);
				left: auto;
			}

			@if $position-y == center {
				margin-top: rr-arrow-center-margin($size);
			}
		}

		// direction down
		@if $direction == down {
			@if $position-x == center {
				margin-left: rr-arrow-center-margin($size);
			}

			@if $position-y == center {
				bottom: 50%;
				margin-bottom: rr-arrow-center-margin($size, false);
				top: auto;
			}
		}

		// direction left
		@if $direction == left {
			@if $position-x == center {
				margin-left: rr-arrow-center-margin($size, false);
			}

			@if $position-y == center {
				margin-top: rr-arrow-center-margin($size);
			}
		}
	}

	$transition-properties: rr-unquote($transition-properties);
	$transition-values: rr-unquote($transition-values);
	$transition-new-values: null;

	@if $transition-properties != none and length($transition-properties) > 0 and length($transition-values) > 0 and length($transition-properties) == length($transition-values) {
		@each $transition-property in $transition-properties {
			$current-index: index($transition-properties, $transition-property);
			$current-value: nth($transition-values, $current-index);

			@if index((top,right,bottom,left), $transition-property) {
				$current-value: arrow-offset-correct($current-value, $width);
			}

			@if $transition-new-values == null {
				$transition-new-values: rr-unquote($current-value);
			} @else {
				$transition-new-values: append($transition-new-values, rr-unquote($current-value), comma);
			}
		}

		$transition-values: $transition-new-values;

		@include arrow-transition($transition-properties: $transition-properties, $transition-values: $transition-values, $pseudo-element: $pseudo-element);
	}
}

@mixin rr-arrow($name: null) {

	@if rr-arrow-exists($name) {
		@include rr-insert-pseudo-element($write: true, $pseudo-element: $rr-arrows-default-pseudo-element) {
			@extend .#{$rr-arrow-class};
		}

		@include rr-arrow-custom($name: $name);
	}
	//@each $arrow-list in $rr-arrows {
	//	$current-arrow-name: nth($arrow-list, 1);

	//	@if $current-arrow-name == $name {
			//@include rr-arrow-custom(
			//	$direction: nth($arrow-list, 2),
			//	$size: nth($arrow-list, 3),
			//	$width: nth($arrow-list, 4),
			//	$color: nth($arrow-list, 5),
			//	$position: nth($arrow-list, 6),
			//	$position-x: nth($arrow-list, 7),
			//	$position-y: nth($arrow-list, 8),
			//	$offset-x: nth($arrow-list, 9),
			//	$offset-y: nth($arrow-list, 10),
			//	$transition-properties: nth($arrow-list, 11),
			//	$transition-values: nth($arrow-list, 12),
			//	$pseudo-element: nth($arrow-list, 13)
			//);
	//	}
	//}
}


/***********************************************************************************
	CLASS GENERATOR: ARROW
***********************************************************************************/

@function rr-generate-arrows-check() {
	@return $rr-generate-arrows;
}

@mixin generate-arrows() {
	.#{$rr-arrow-class} {
		content: "";
		display: block;
		position: absolute;
		border-width: 0;
		border-style: solid;
		border-right-style: outset;
		border-bottom-style: outset;
	}

	.#{$rr-arrow-class-prefix}up {
		@include rr-insert-pseudo-element($write: true, $pseudo-element: $rr-arrows-default-pseudo-element) {
			@extend .#{$rr-arrow-class};
		}

		@include rr-arrow-custom($direction: up);
	}

	.#{$rr-arrow-class-prefix}right {
		@include rr-insert-pseudo-element($write: true, $pseudo-element: $rr-arrows-default-pseudo-element) {
			@extend .#{$rr-arrow-class};
		}

		@include rr-arrow-custom($direction: right);
	}

	.#{$rr-arrow-class-prefix}down {
		@include rr-insert-pseudo-element($write: true, $pseudo-element: $rr-arrows-default-pseudo-element) {
			@extend .#{$rr-arrow-class};
		}

		@include rr-arrow-custom($direction: down);
	}

	.#{$rr-arrow-class-prefix}left {
		@include rr-insert-pseudo-element($write: true, $pseudo-element: $rr-arrows-default-pseudo-element) {
			@extend .#{$rr-arrow-class};
		}

		@include rr-arrow-custom($direction: left);
	}

	@if rr-map-isnotempty($rr-arrows) {
		@each $arrow-key, $arrow-list in $rr-arrows {
			.#{$rr-arrow-class-prefix}#{$arrow-key} {
				@include rr-arrow($name: $arrow-key);
			}
		}
	}
}

@if rr-generate-arrows-check() {
	@include generate-arrows();
}