/***********************************************************************************
	SETTINGS - ARROW
***********************************************************************************/

// Arrows
$rr-arrows: () !default;

// Default arrow
$rr-arrows-default: rr-map-getdefault($rr-arrows) !default;

// Arrows map value defaults
$rr-arrows-default-direction: right !default;
$rr-arrows-default-size: 12px !default;
$rr-arrows-default-width: 3px !default;
$rr-arrows-default-color: black !default;
$rr-arrows-default-position: relative !default;
$rr-arrows-default-position-x: center !default;
$rr-arrows-default-position-y: center !default;
$rr-arrows-default-offset-x: 0 !default;
$rr-arrows-default-offset-y: 0 !default;
$rr-arrows-default-transition-properties: () !default;
$rr-arrows-default-transition-values: () !default;
$rr-arrows-default-pseudo-element: 'before' !default;
$rr-arrows-default-insert-pseudo-element: true !default;

// Arrow classes
$rr-arrow-class: 'arrow' !default;
$rr-arrow-class-prefix: 'arrow-' !default;

// Generate css output
$rr-generate-arrows: $rr-generate-classes !default;