/***********************************************************************************
	MODULES - RESET
***********************************************************************************/
html, body {
	background-color: $white;
	color: $black;
	@include responslr-typo();
}

h1, h2, h3, h4, h5, h6 {
	@include responslr-typo($font-family: lato-regular);
	text-transform: uppercase;
}

h1 {
	@include responslr-typo($font-family: lato-regular, $font-size: large);
}