//#content {
	article {
		@include spacing-bottom();
	}

	h3 {
		@include spacing-bottom(small);
	}

	p {
		margin-bottom: spacing-size(small);
	}

	.test-min-width:before {
		content: "min-width: " + grid-min-width(large);
	}
	.test-max-width:before {
		content: "max-width: " + grid-max-width(large);
	}
	.test-columns:before {
		content: "columns: " + grid-columns(large);
	}
	.test-gutter:before {
		content: "gutter: " + grid-gutter(large);
	}
	.text-name:before {
		content: "breakpoint name: " + grid-breakpoint-name(2);
	}

	.intro {
		@include typo($font-size: medium);
	}

	.box {
		padding: grid-gutter-half();
		// @include typo($font: LatoRegular);
	}

	.border {
		border-width: 1px;
		border-style: solid;
	}

	// FONT TESTING
	//
	//
	.font-test-1 {
		display: inline-block;
		@include typo($font: LatoLigh, $font-size: 27px, $line-height: 100px);
	}

	.font-test-2 {
		display: inline-block;
		@include typo($font-size: large, $line-height: 200px)
	}

	// BUTTON TESTING
	[class^=button-] {
		margin-bottom: grid-gutter(large);
	}

	// SPACING TESTING
	.spacing-top-test {
		@include spacing-bottom(none);
	}

	.spacing-bottom-test {
		@include spacing-top(none);
	}
//}