nav {
	ul {
		margin: 0;

		li {

			&.active {
				a,
				a:visited {
					color: $blue;
				}
			}

			a,
			a:visited {
				@include typo($font: LatoRegular);
				display: block;
				text-transform: uppercase;
				color: $black;

				&:hover {
					color: $blue;
				}
			}
		}
	}
}

#main-navigation {
	margin-top: spacer-size();

	ul {
		li {
			a {
				@include typo($font: LatoRegular, $font-size: medium);
			}
		}
	}
}